<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Undangan</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar
                        Undangan</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchListRisalahUser" (ngModelChange)="onSearchListRisalahUser($event)" type="text"
                            class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                    <button type="button" class="btn btn-primary disabled infoBtnRisalah"></button>
                    <h6 class="infoTable">Pengantar Presiden Belum Diunggah</h6>
                </div>                   
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan |
                                filter:searchListRisalahUser | paginate: {id:'5', itemsPerPage: 10,
                                currentPage: p } ; let ndx= index ;"
                                [ngClass]="{'risalahKosong': item.link_risalah === null}">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="alertConfirmation(item.id_undangan,risalahModal)"
                                                [class.disabled]="item.link_risalah === null ? true: null"
                                            >
                                                Lihat Pengantar Presiden
                                            </a>
                
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                [class.disabled]="item.link_risalah === null ? true: null"
                                            >
                                                Detail Pengantar Presiden
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>


            <ng-template #risalahModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.risalahById2">
                    <form #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- <pdf-viewer  *ngIf ="isLoadingPdf === false"  [src]="pdfSrc" [render-text]="false" style="display: block;"></pdf-viewer> -->
                                    <!-- <embed [src]="pdfSrc | safe: 'url' " style="width: 100%;height: 500px" type="application/pdf"> -->
                                    <iframe #iframe [src]="pdfSrc" frameborder="0" style="width: 100%;height: 500px"></iframe>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a [href]="pdfSrc" download (click)="counterDownload()" class="btn btn-success" style="color: white;"><i class="fa fa-download"></i>Unduh</a>
                    <a [href]="pdfPrint" target="__blank " print (click)="counterPrint() " class="btn btn-primary " style="color: white; "><i class="fa fa-print "></i>Cetak</a>
                    <button type="button " class="btn btn-danger " (click)="modal.close( 'Cross click') "><i class="fa fa-close "></i>Tutup</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')">Tutup</button> -->
                </div>
            </ng-template>

            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Pengantar Presiden</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.risalahById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nomor Pengantar Presiden</label>
                                <input type="text" class="form-control" id="nomor_risalah" disabled
                                    [(ngModel)]="item.nomor_risalah" name="nomor_risalah">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Jam Mulai Sidang</label>
                                        <input type="text" class="form-control" id="jam_mulai_sidang" disabled
                                            [(ngModel)]="item.jam_mulai_sidang" name="jam_mulai_sidang">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zona Waktu</label>
                                        <input type="text" class="form-control" id="zona_waktu" disabled
                                            [(ngModel)]="item.zona_waktu" name="zona_waktu">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        
                        <div class="col-md-6">                                                        
                            <div class="form-group">
                                <label for="name">Tanggal TTD Pengantar Presiden</label>
                                <input type="text" class="form-control" id="tanggal_ttd_risalah" disabled
                                    [(ngModel)]="item.tanggal_ttd_risalah" name="tanggal_ttd_risalah">
                            </div>    
                            <div class="form-group">
                                <label for="name">Penyimpanan Arsip</label>
                                <input type="text" class="form-control" id="penyimpanan_arsip" disabled [(ngModel)]="item.penyimpanan_arsip"
                                    name="penyimpanan_arsip">
                            </div>
                            <!-- <div class="form-group">
                                <label for="name">Tanggal Pembuatan Risalah</label>
                                <input type="text" class="form-control" id="update_date" disabled
                                    [(ngModel)]="item.update_date" name="update_date">
                            </div> -->
                        </div>
                    </div>
                    <hr>

                    <h5 style="text-align: center; margin-bottom: 10px;">Penerima
                        Pengantar Presiden</h5>
                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>JABATAN</th>
                                    <th>NAMA PENERIMA</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.notifRisalahById === 'no data found' ">
                                <tr class="table-secondary">
                                    <td colspan="4" style="text-align: center;">Data responden pengantar presiden belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.notifRisalahById !== 'no data found' ">
                                <tr *ngFor="let item of this.notifRisalahById,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close "></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>