<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Formulir Undangan</h2>
                <ul class="breadcrumb root_form">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home">
                            </i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Form</li>
                    <li class="breadcrumb-item active tambah_user">Undangan</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <!-- <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm.valid)"> -->
                    <form #profileForm="ngForm">
                        <div class="d-flex justify-content-end">
                            <p class="ml-auto">tanda (*) wajib diisi</p>
                        </div>
                        <div class="form-group">
                            <label>Unggah Berkas Undangan*</label>
                            <input [(ngModel)]="path_berkas_undangan"
                                accept=".pdf" class="form-control"
                                name="path_berkas_undangan" type="file"
                                (change)="onFileSelected($event)" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                    for="inputGroupSelect01">Pimpinan Sidang*</label>
                            </div>
                            <select disabled [(ngModel)]="pimpinan_sidang"
                                class="custom-select" id="inputGroupSelect01"
                                [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option *ngFor="let obj of jabatanPimpinan"
                                    [value]="obj.id_user">{{obj.nama_jabatan}}</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Waktu Sidang*</label>
                                    <input class="form-control"
                                        placeholder="Waktu Sidang"
                                        [owlDateTimeTrigger]="dt8"
                                        [owlDateTime]="dt8"
                                        [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="waktu_sidang">
                                    <owl-date-time #dt8></owl-date-time>

                                    <!-- <angular2-date-picker [ngModel]="date" [(ngModel)]="waktu_sidang" [ngModelOptions]="{standalone: true}">
                                    </angular2-date-picker> -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Zona Waktu*</label>
                                    <select [(ngModel)]="zona_waktu"
                                        class="custom-select"
                                        id="inputGroupSelect01"
                                        [ngModelOptions]="{standalone: true}">
                                        <option value="WIB">WIB</option>
                                        <option value="WITA">WITA</option>
                                        <option value="WIT">WIT</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tema*</label>
                            <input [(ngModel)]="tema" class="form-control" name="tema" placeholder="Tema Undangan" required>
                        </div>
                        <div class="form-group">
                            <label>Jenis Sidang*</label>
                            <select [(ngModel)]="id_jenis_sidang"
                                class="custom-select" id="inputGroupSelect01"
                                [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let sidang of namaSidang"
                                    [value]="sidang.id_jenis_sidang"
                                    [attr.selected]="id_jenis_sidang==sidang.id_jenis_sidang
                                    ? true: null">
                                    {{sidang.nama_sidang}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Lokasi*</label>
                            <!-- <button type="submit" class="btn btn-primary
                                btn-round-sm btn-sm addLokasi"
                                (click)="tambahModal(tambahmodal)">
                                <i class="fa fa-plus">&nbsp;</i>Lainnya</button> -->
                            <!-- <ng-multiselect-dropdown name="multiSelect"
                                #multiSelect="ngModel"
                                (onSelect)="onItemSelect($event)"
                                [placeholder]="'Silahkan Memilih Lokasi ...'"
                                [data]="lokasiData" [(ngModel)]="selectedLokasi"
                                [settings]="SettingsLokasi" required>
                            </ng-multiselect-dropdown> -->
                            
                            <!-- <input type="text" class="form-control" required [(ngModel)]="lokasi" name="lokasi"> -->
                            <select 
                            [(ngModel)]="lokasi" 
                            class="custom-select" 
                            id="inputGroupSelect01" 
                            [ngModelOptions]="{standalone: true}"
                            >
                                <option 
                                *ngFor="let lokasi of namaLokasi" 
                                [value]="lokasi.nama_lokasi"
                                >
                                    {{lokasi.nama_lokasi}}
                                </option>
                            </select>
                            <!-- <select [(ngModel)]="lokasi" class="custom-select" id="inputGroupSelect01"
                                [ngModelOptions]="{standalone: true}">
                                <option selected>Silahkan Pilih</option>
                                <option value="Daring">Daring</option>
                                <option value="Istana Negara">Istana Negara</option>
                                <option value="Istana Merdeka">Istana Merdeka</option>
                                <option value="Istana Kepresidenan Bogor">Istana Kepresidenan Bogor</option>
                                <option value="Kantor Presiden">Kantor Presiden</option>
                                <option value="Lainnya">Lainnya</option>
                            </select> -->
                        </div>
                        <div *ngIf="this.lokasi === 'Lainnya'">
                            <div class="form-group">
                                <label>Lokasi Lainnya</label>
                                <input 
                                [(ngModel)]="lokasiAlt"
                                class="form-control" 
                                name="lokasi_alt"
                                placeholder="Lokasi Lainnya"
                                required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Nomor Undangan*</label>
                            <input placeholder="Nomor Undangan" [(ngModel)]="nomor_undangan" class="form-control" name="nomor_undangan" required>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                    for="inputGroupSelect01">Sifat*</label>
                            </div>
                            <select disabled [(ngModel)]="sifat"
                                class="custom-select" id="inputGroupSelect01"
                                [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="Segera">Segera</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text"
                                    for="inputGroupSelect01">Status*</label>
                            </div>
                            <select disabled [(ngModel)]="status"
                                class="custom-select" id="inputGroupSelect01"
                                [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="Terjadwal">Terjadwal</option>
                                <!-- <option value="Dimajukan">Dimajukan</option>
                                <option value="Dibatalkan">Dibatalkan</option> -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="food">Penerima Undangan*</label>
                            <br />
                            <ng-multiselect-dropdown name="multiSelect"
                                #multiSelect="ngModel" [placeholder]="'Silahkan
                                Daftarkan Penerima Undangan ...'"
                                [data]="dataUser" [(ngModel)]="selectedItems"
                                [settings]="dropdownSettings" required>
                            </ng-multiselect-dropdown>
                        </div>
                    </form>
                    <br>
                    <button *ngIf="isLoading === false" type="submit" class="btn
                        btn-primary"
                        (click)="this.tambahUndangan();this.open(mymodal)"><i
                            class="fa fa-send-o">&nbsp;</i>Buat
                        Undangan dan Kirim</button>
                    <button *ngIf="isLoading === true" disabled type="button"
                        class="btn btn-primary"><i
                            class="fa fa-spinner"></i></button>

                </div>
            </div>
        </div>
    </div>

    <!-- Tambahan -->
    <ng-template #tambahmodal let-modal>
        <form #lokasiForm="ngForm">
            <div class="modal-header">
                <h5 class="modal-title">Lokasi Lainnya</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Lokasi</label>
                    <input [(ngModel)]="nama_lokasi" class="form-control"
                        name="nama_lokasi" required>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="!lokasiForm.valid" type="button" class="btn
                    btn-success" (click)="tambahLokasi()"><i class="fa fa-plus">&nbsp;</i>Tambah</button>
                <button type="button" class="btn btn-danger"
                    (click)="tutupModal()"><i class="fa fa-close"></i>Tutup</button>
            </div>
        </form>
    </ng-template>
    <!-- End Tambahan -->

    <ng-template #mymodal let-modal>
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
            type="ball-spin-clockwise">
            <p style="font-size: 20px; color: white; margin-top: 100px">Mohon
                Tunggu...</p>
        </ngx-spinner>
        <div class="modal-header">
            <h5 class="modal-title">Masukkan Passphrase</h5>
        </div>
        <div class="modal-body">
            <form #profileForm="ngForm">
                <div class="form-group">
                    <label>Passphrase</label>
                    <div class="input-group">
                        <input autocomplete="off" [type]="fieldTextType ? 'text'
                            : 'password'" [(ngModel)]="passphrase_next"
                            class="form-control" name="passphrase_next"
                            id="passphrase_next">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-eye-slash"
                                    (click)="toggleFieldTextType()"
                                    [ngClass]="{'fa-eye-slash':
                                    !fieldTextType,'fa-eye': fieldTextType}"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"
                (click)="this.passphraseSubmit()" id="passphrase_submit"><i
                    class="fa fa-check">&nbsp;</i>Submit</button>
            <button type="button" class="btn btn-danger"
                (click)="this.closeModal()"><i class="fa fa-close"></i>Tutup</button>
        </div>
    </ng-template>
</div>