li.tambah_user {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_form {
    color: white !important;
}

h2.judul_form {
    color: white;
}

a.arrow_icon {
    color: white !important;
}

i.link_home {
    color: white !important;
}

#preview {
    margin-top: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.7);
    padding: 1rem;
    position: relative;
}

#preview::before {
    content: 'Hasil Unggah Foto';
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}