<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Formulir Tambah Pengguna</h2>
                <ul class="breadcrumb root_form">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home">
                            </i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Form</li>
                    <li class="breadcrumb-item active tambah_user">Tambah Pengguna</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <!-- <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm.valid)"> -->
                    <form>
                        <div class="d-flex justify-content-end">
                            <p class="ml-auto">tanda (*) wajib diisi</p>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Peran*</label>
                            </div>
                            <select [(ngModel)]="selectedDataRole" class="custom-select" [ngModelOptions]="{standalone: true}" required>
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option *ngFor="let obj of dataRole" [value]="obj.id_role" >{{obj.nama_role}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Jabatan*</label>
                            </div>
                            <select [(ngModel)]="selectedDataJabatan" class="custom-select" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option *ngFor="let obj of dataJabatan" [value]="obj.id_jabatan">{{obj.nama_jabatan}} 
                                </option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Grup</label>
                            </div>
                            <select #group (change)="changed(group.value)" [(ngModel)]="selectedDataGroup" class="custom-select" [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let obj of dataGroup" [value]="obj.id_group" >{{obj.nama_group}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Unggah Gambar</label>
                            <!-- <input [(ngModel)]="path_foto" class="form-control" name="path_foto" type="file"  accept="image/*" (change)="onFileSelected($event)" required>
                            <div id="preview" class="preview">
                                <img src="" class="img-fluid rounded shadow-sm mx-auto d-block" style="max-height:100px;">
                            </div> -->
                            <input [(ngModel)]="path_foto" class="form-control" name="path_foto" type="file" accept="image/png,image/jpg,image/jpeg" (change)="onFileSelected($event)">
                            <div id="preview" class="preview">
                                <img src="" style="max-height:100px;" class="img-fluid rounded shadow-sm mx-auto d-block">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="name">Gabung Grup</label>
                            <ng-select2 [data]="dataGrup" id="id_group" class="form-control"
                                name="id_group"></ng-select2>
                            <input [(ngModel)]="path_foto" class="form-control" name="path_foto" type="file"  accept="image/*" (change)="onFileSelected($event)" required>
                            <div id="preview" class="preview">
                                <img src="" class="img-fluid rounded shadow-sm mx-auto d-block" style="max-height:100px;">
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label>Username*</label>
                            <!-- <input autocomplete="off" [(ngModel)]="username" class="form-control" name="username" required> -->
                            <input 
                            autocomplete="off" 
                            [(ngModel)]="username" 
                            type="email" 
                            (ngModelChange)="userChange($event)" 
                            class="form-control" 
                            name="username" 
                            id="username" 
                            placeholder="Masukkan Username"
                            required>
                            <img *ngIf="path_foto_fix" [src]="path_foto_fix" src="">
                            <!-- <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)">
                                <div [hidden]="!emailref.errors?.pattern && this.email === ''">
                                    <p style="color: red;">Masukan email dengan benar</p>
                                </div> 
                            </div> -->
                            <p *ngIf="this.email !== this.username" style="color: red;">Username harus sama dengan email</p>
                        </div>
                        <div class="form-group">
                            <label>Nama Lengkap*</label>
                            <input 
                            autocomplete="off" 
                            [(ngModel)]="nama_user" 
                            class="form-control" 
                            name="nama_user" 
                            placeholder="Masukkan Nama Lengkap"
                            required>

                        </div>
                        <div class="form-group">
                            <label>Email*</label>
                            <!-- <input autocomplete="off" [(ngModel)]="email" type="email" class="form-control" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required> -->
                            <input 
                            autocomplete="off" 
                            [(ngModel)]="email" 
                            (ngModelChange)="emailChange($event)" 
                            type="email" class="form-control" 
                            name="email" 
                            id="email" 
                            placeholder="Masukkan Email"
                            required>
                            <!-- <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)">
                                <div [hidden]="!emailref.errors?.pattern && this.username === ''">
                                    <p style="color: red;">Masukan email dengan benar</p>
                                </div> 
                            </div> -->
                            <p *ngIf="this.email !== this.username" style="color: red;">Email harus sama dengan username</p>
                        </div>
                        <div class="form-group">
                            <label>Nomor HP</label>
                            <input 
                            type="number"
                            autocomplete="off" 
                            [(ngModel)]="msisdn" 
                            class="form-control" 
                            placeholder="Masukkan Nomor HP"
                            name="msisdn">

                        </div>
                        <label>Alamat POS</label>
                        <textarea [(ngModel)]="alamat_pos" name="alamat_pos" id="alamat_pos" rows="3" style="width: 100%;" placeholder="Masukkan Alamat POS"></textarea>
                        <label>Alamat Langsung</label>
                        <textarea [(ngModel)]="alamat_langsung" name="alamat_langsung" id="alamat_langsung" rows="3" style="width: 100%;" placeholder="Masukkan Alamat Langsung"></textarea>
                      
                        <div class="form-group">
                            <label>IMEI</label>
                            <input 
                            autocomplete="off" 
                            [(ngModel)]="imei" 
                            class="form-control" 
                            placeholder="Masukkan IMEI"
                            name="imei">

                        </div>
                        <!-- <div class="form-group">
                            <label>Kata Kunci*</label>
                            <input [(ngModel)]="password" class="form-control" name="password" type="password" required>

                        </div> -->
                        <form [formGroup]="passForm">

                            <div class="form-group">
                                <label>Kata kunci*</label>
                                <div class="input-group">
                                    <input 
                                    autocomplete="off" 
                                    formControlName="field1"
                                    [type]="fieldTextType ? 'text' : 'password'" 
                                    [(ngModel)]="password" 
                                    class="form-control" 
                                    id="signin-password" 
                                    placeholder="kata kunci" 
                                    [ngModelOptions]="{standalone: true}"
                                    required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">        
                                            <i class="fa fa-eye-slash" (click)="toggleFieldTextType()" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></i>       
                                        </span>
                                    </div>
                                </div>
                                <p style="color: red;" *ngIf="passForm.hasError('minlength', 'field1')">Kata kunci minimal 5 karakter</p>
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Konfirmasi kata kunci*</label>
                                <div class="input-group">
                                    <input 
                                    [type]="fieldTextType1 ? 'text' : 'password'"
                                    formControlName="field2" 
                                    [(ngModel)]="confirm_password" 
                                    class="form-control" 
                                    id="signin-password1" 
                                    placeholder="Konfirmasi kata kunci" 
                                    [ngModelOptions]="{standalone: true}" 
                                    required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">        
                                              <i class="fa fa-eye-slash" (click)="toggleFieldTextType1()" [ngClass]="{'fa-eye-slash': !fieldTextType1,'fa-eye': fieldTextType1}"></i>       
                                        </span>
                                    </div>
                                </div>
                                <p style="color: red;" *ngIf="passForm.hasError('minlength', 'field2')">Kata kunci minimal 5 karakter</p>
                            </div>

                        </form>
                        <!-- <div class="form-group">
                            <label>Konfirmasi Kata Kunci*</label>
                            <input [(ngModel)]="confirm_password" class="form-control" name="confirm_password"
                                type="password" required>
                        </div> -->

                        <br>
                        <!-- <button type="button" class="btn btn-success" type="submit" (click)="this.tambahUser()">Tambah Pengguna</button> -->
                        <button *ngIf="isLoading === false" type="submit" class="btn btn-primary" (click)="this.tambahUser()"><i class="fa fa-user-plus"></i>Tambah Pengguna</button>
                        <button *ngIf="isLoading === true" disabled type="button" class="btn btn-primary"><i
                            class="fa fa-spinner"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>