// import google fonts
@import 'font/fonts';
@import 'font/simple-line-icons';
@import 'font/weather-icons';

@import "mixins/responsive";
@import "mixins/clearfix";
@import "mixins/css3";
@import "mixins/elements-color-custom";

@import "base/variables";
@import "base/general";

@import "metisMenu/metisMenu";

@import "partials/badges";
@import "partials/layout";
@import "partials/card";
@import "partials/navigation";
@import "partials/leftbar";
@import "partials/forms";
@import "partials/authentication";
@import "partials/buttons";
@import "partials/elements";
@import "partials/accordion";
@import "partials/elements-bootstrap";
@import "partials/charts";
@import "partials/social-brands";
@import "partials/typography";
@import "partials/helpers";
@import "partials/mediaobject";
@import "partials/formwizard";
@import "partials/tables";

@import "pages/widgets";

@import "pages/page-profile";
@import "pages/page-profile2";
@import "pages/timeline";
@import "pages/calendar";
@import "pages/file_manager";
@import "pages/pricing";
@import "pages/invoice";
@import "pages/iot-dashboard";

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@media screen and (max-width: 960px) {
	.responsive_table {
		overflow-x: auto !important;
	}

	.mat-table caption {
		font-size: 1em;
	}

	/*  Enable this to hide header
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    */
	.mat-table .mat-row {
		border-bottom: 5px solid #ddd;
		display: block;
	}
	/*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
	.mat-table .mat-cell {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: 1em;
		text-align: right;
		font-weight: bold;
		height: 30px;
		margin-bottom: 4%;
	}
	.mat-table .mat-cell:before {
		/*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: normal;

		font-size: .85em;
	}
	.mat-table .mat-cell:last-child {
		border-bottom: 0;
	}
	.mat-table .mat-cell:first-child {
		margin-top: 4%;
	}
}
