li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-undangan {
    width: 600px;
}

.modal-header{     
    justify-content: center;     
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

::ng-deep .cdk-overlay-container{
    z-index:2000;
  }

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}


@media only screen and (max-width: 600px) {
    div.userData {
        background-color: lightblue;
    }
}
#preview {
    margin-top: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.7);
    padding: 1rem;
    position: relative;
}

#preview::before {
    /* content: 'Hasil Unggah Foto'; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}
table .risalahKosong {
    background-color:#7ecfc9;
}
div .infoTable{
    margin: inherit;
    color: black;
}
div .infoBtnRisalah{
   background-color:#7ecfc9;
    border-color:#7ecfc9;
    pointer-events:none;
}
table .statisWidth {
    width: 15%;
}