<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Formulir Pengantar Presiden</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Form</li>
                    <li class="breadcrumb-item active menu_pengguna">Pengantar Presiden</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchUnggahRisalah" (ngModelChange)="onSearchUnggahRisalah($event)" type="text" class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                    <button type="button" class="btn btn-primary disabled infoBtnRisalah"></button>
                    <h6 class="infoTable">Pengantar Presiden Belum Diunggah</h6>
                </div>                   
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th>JENIS SIDANG</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan | filter:searchUnggahRisalah | paginate: {id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index" [ngClass]="{'risalahKosong': item.nomor_risalah
                            === null}">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.nama_sidang}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                [class.disabled]="item.nomor_risalah
                                                !== null ? true: null">
                                                Buat Pengantar Presiden
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
           
            <ng-template #mymodal let-modal>
                <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-spin-clockwise"
                >
                <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                </ngx-spinner>
                <div class="modal-header">
                    <h5 class="modal-title">Formulir Pengantar Presiden</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.undanganById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Jenis Sidang</label>
                                <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                            </div>
                            <div class="form-group">
                                <label for="name">Pimpinan Sidang</label>
                                <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tema Sidang</label>
                                <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                            </div>
                            <div class="form-group">
                                <label for="name">Sifat Sidang</label>
                                <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="item.sifat" name="sifat">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Lokasi Sidang</label>
                                <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi" name="lokasi">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Pembuatan Undangan</label>
                                <input type="text" class="form-control" id="create_date_formated" disabled [(ngModel)]="item.create_date_formated" name="create_date_formated">
                            </div>
                            <div class="form-group">
                                <label for="name">Nomor Undangan</label>
                                <input type="text" class="form-control" id="nomor_undangan" disabled [(ngModel)]="item.nomor_undangan" name="nomor_undangan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Sidang</label>
                                <input type="text" class="form-control" id="waktu_sidang_formated" disabled [(ngModel)]="item.waktu_sidang_formated" name="waktu_sidang_formated">
                            </div>
                        </div>
                    </div>
                    <form #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="d-flex justify-content-end">
                                    <p class="ml-auto">tanda (*) wajib diisi</p>
                                </div>                        
                                <div class="form-group">
                                    <label>Nomor Pengantar Presiden*</label>
                                    <input [(ngModel)]="nomor_risalah" class="form-control" name="nomor_risalah" required placeholder="Masukkan Nomor Pengantar Presiden">
                                </div>
                                <div class="form-group">
                                    <label>Tanggal TTD Pengantar Presiden*</label>
                                    <!-- <input [(ngModel)]="tgl_ttd_risalah" class="form-control" name="tgl_ttd_risalah" ng-flat-datepicker> -->
                                    <input class="form-control" placeholder="Masukkan Tanggal" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [ngModelOptions]="{standalone: true}" [(ngModel)]="tgl_ttd_risalah">
                                    <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                                </div>  
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label>Jam Mulai Sidang*</label>
                                            <input class="form-control" placeholder="Masukkan Jam" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8" [ngModelOptions]="{standalone: true}" [(ngModel)]="jam_mulai_sidang">
                                            <owl-date-time #dt8 pickerType="timer"></owl-date-time>
           
                                            <!-- <angular2-date-picker [ngModel]="date" [(ngModel)]="waktu_sidang" [ngModelOptions]="{standalone: true}">
                                            </angular2-date-picker> -->
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Zona Waktu*</label>
                                            <select (change)="changeZona($event)" class="custom-select">
                                                <option value="WIB" selected>WIB</option>
                                                <option value="WITA">WITA</option>
                                                <option value="WIT">WIT</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Penyimpanan Arsip*</label>
                                    <input [(ngModel)]="penyimpanan_arsip" class="form-control" name="penyimpanan_arsip" placeholder="Masukkan Penyimpanan Arsip">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" >Status Pengantar Presiden*</label>
                                    </div>
                                    <select [(ngModel)]="status_risalah" class="custom-select" [ngModelOptions]="{standalone: true}">
                                    <!-- <option selected>Silahkan Pilih</option> -->
                                        <option value="1">Distribusi</option>
                                        <option value="0">Tidak Distribusi</option>
                                    </select>                                                
                                </div>
                                <div *ngIf="status_risalah == 1">
                                    <div class="form-group">
                                        <label for="food">Penerima Pengantar Presiden*</label>                                                
                                        <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Daftarkan Penerima Risalah...'" [data]="dataUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                                        <!-- <ng-multiselect-dropdown 
                                        name="multiSelect" 
                                        #multiSelect="ngModel" 
                                        [placeholder]="'Silahkan Daftarkan Penerima Risalah...'" 
                                        [data]="respondenDetail" 
                                        [(ngModel)]="selectedItems" 
                                        [settings]="dropdownSettings" 
                                        required> -->
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Unggah Berkas Pengantar Presiden*</label>
                                    <input accept=".pdf" class="form-control" name="path_risalah" type="file" (change)="onFileSelected($event)" required>
                                </div>                                                                                    
                            </div>
                        </div>    
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" *ngIf="isLoadingRisalah === false" class="btn btn-success" type="submit" (click)="this.unggahRisalah()"><i class="fa fa-send-o">&nbsp;</i>Buat Pengantar dan Kirim</button>
                    <!-- <button *ngIf="isLoadingRisalah === true" disabled type="button" class="btn btn-primary"><i
                        class="fa fa-spinner"></i></button> -->
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>