
.error {
    color: red;
}
.success {
    color: green;
} 

table th, .row-pertanyaan td {
    text-align: center;
}

table .pertanyaan {
    text-align: inherit;
}

/* .bg-atas {
    background-color: #8f0011; */
    /* height: 300px; */
    /* height: 250px;
    width: 100%; */
    /* border-radius: 10%; */
    /* border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
} */

/* .tema {
    text-align: center;
} */

p {
    color:#e5b4b4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.rows {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.bg-bawah p, h5 {
    color: black;
    margin-left: 10px;
}

.dropzone {
    width: 95%;
    margin: auto;
}

.input-group {
    position: relative;
    display: block;
    /* flex-wrap: wrap;
    align-items: stretch; */
    width: 100%;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content:unset;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.sifat-materi {
    width: 95%;
    margin: auto;
    display: flex !important;
}

.submitbtn {
    right: 0%;
    position: fixed;
    bottom: 0%;
}

.submitbtn i {
    border-radius: 50%;
    background-color:#991220;
    font-size: 50px;
    color: white;
}

.daftar-responden {
    width: 95%;
    margin: auto;
    display: flex;
}

.bahan-materi {
    width: 95%;
    margin: auto;
    display: flex;
}

.responden {
    width: 100%;
}

.modal-body {
    max-height: 75vh;
    overflow-y: auto;
}

/* .mapLokasi{
    color:#9b42ba;
    font-size: medium;
    margin-right: 10px;
} */

/* .noUndangan{
    color:#9b42ba;
    font-size: medium;
    margin-right: 5px;
} */

.customDropzone{
    background: #c4c4c4 ;
    border: none;
    border-radius: 10px;
}
.inDropzone{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.judulDropzone{
    color: #1565c0;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

table {
    border-collapse: collapse;
}

.table-responden td {
    border: none;
}

.table-responden2 {
    width: 100%;

}

.table-responden2 td {
    border: none;
    padding: 4px 7px 0px 7px;
}

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 20px;
    padding-top: 20px
}

@media (min-width: 400px) {
    .rows { grid-template-columns: repeat(2, 1fr); }
    .dropdown {
        position: relative; 
        display: flex;
        width: 70%;
    }
}

@media (min-width: 450px) {
    .dropdown {
        position: relative; 
        display: flex;
        width: 73%;
    }
}

@media (min-width: 500px) {
    .dropdown { 
        position: relative; 
        display: flex;
        width: 75%;
    }
}

@media (min-width: 550px) {
    .dropdown { 
        position: relative; 
        display: flex;
        width: 78%;
    }
}

@media (min-width: 600px) {
    .dropdown { 
        position: relative; 
        display: flex;
        width: 80%;
    }
}