<div style="height: 100vh;background-color:#ffffff">
    <div class="bg-bawah mt-2">
        <h5 class="judulDropzone">Bahan Materi</h5>
        <p>Unggah materi dengan format .pdf, .png, .jpeg, .jpg, dan mp4</p>
        <div class="dropzone">
            <ngx-dropzone class="customDropzone" [multiple]="true" accept=".png, .jpeg, .jpg, .pdf, .mp4" (change)="onSelect($event,mymodal)">
                <ngx-dropzone-label class="inDropzone">Klik untuk menambahkan materi ke sini</ngx-dropzone-label>
                <ngx-dropzone-preview [(ngModel)]="files" ngDefaultControl name="files" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
        </div>
        <div class="input-group mt-3 sifat-materi">
            <div class="input-group-append" style="position: relative; display: flex;">
                <span class="input-group-text" style="display: flex;font-family: 'Roboto', sans-serif;background-color:#c4c4c4;color: black;font-size: 14px;width: 115px;">
                Sifat Materi
                </span>
            </div>            
            <div class="dropdown">
                <button 
                class="btn btn-default dropdown-toggle" 
                type="button" 
                id="dropdownMenu1" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="true"
                style="width: 100%;background-color:#c4c4c4;color: black;font-size: 14px;"
                >
                    <span style="float: left;font-family: 'Roboto', sans-serif;color: black;font-size: 14px;">Pilih Materi</span>
                </button>
                <ul class="dropdown-menu pr-4" aria-labelledby="dropdownMenu1" style="width: 100%; font-size: 14px;"> 
                    <li (click)="this.dropdown1('Umum')"><a class="w100" href="javascript:void(0);" style="padding-left: 20px;font-family: 'Roboto', sans-serif;color: black;font-size: 14px;">Umum</a></li>
                    <li (click)="this.dropdown2('Khusus')"><a class="w100" href="javascript:void(0);" data-toggle="modal" data-target="#modal2" style="padding-left: 20px;font-family: 'Roboto', sans-serif;color: black;font-size: 14px;">Khusus</a></li>
                    <li (click)="this.dropdown3('Rahasia')"><a class="w100" href="javascript:void(0);" style="padding-left: 20px;font-family: 'Roboto', sans-serif;color: black;font-size: 14px;">Rahasia</a></li>
                </ul>
            </div>
        </div>
        <!-- Modal code -->
        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modal1-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table-responden" cellspacing="0" cellpadding="0">
                                <tbody *ngFor="let item of this.dataUserKhusus">
                                    <label>
                                        <tr>
                                            <td rowspan="2">
                                                <input type="checkbox" style="width: 10px;" (change)="onChangeSifat($event, item, item.penerima)" name="item.buatSelect" [value]="item.isChecked" [checked]="item.isChecked === true"/>
                                            </td>
                                            <td style="font-weight: normal;font-family: 'Roboto', sans-serif;font-size: 14px;">{{item.nama_user}}</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;font-family: 'Roboto', sans-serif;font-size: 14px;">{{item.nama_jabatan}}</td>
                                        </tr>
                                    </label>
                                    <tr>
                                        <td colspan="2">
                                            <hr>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger w-100" data-dismiss="modal" style="font-family: 'Roboto', sans-serif;background-color:#991220">Pilih Responden</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf = "this.files.length !== 0">
            <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-spin-clockwise"
            >
            <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
            </ngx-spinner>
        </div>
        <h5 class="mt-4" *ngIf="this.daftarResponden.length !== 0" style="font-size: 17px;font-family: 'Roboto',sans-serif;color: #1565c0;">Daftar Responden</h5>
        <div class="daftar-responden mt-2" *ngFor="let data of this.daftarResponden">
            <textarea  class="responden" style="font-size: 14px;font-family: 'Roboto',sans-serif;" type="text" [(ngModel)]="data.buatSelect" disabled></textarea>
        </div>
    </div>
    <a class="btn submitbtn" href="javascript:void(0);" (click)="this.unggahMateri(mymodal)"><i class="icon-check"></i></a>
    
    <ng-template #mymodal let-modal>
            <div class="modal-body">
                <p class="modal-title" style="font-size: 20px;font-family: 'Roboto',sans-serif; color: black;">E-Kabinet</p>
                <p style="color: black; margin-top: 10px; margin-bottom: 20px; font-size: 17px;font-family: 'Roboto',sans-serif;">{{this.wordingResponse}}</p>
                <a href="javascript:void(0);" style="float: right; background-color: transparent; border: none; color: #991220;font-size: 16px;" (click)="modal.close('Cross click')">OK</a>
            </div>
    </ng-template>
</div>