li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-header{     
    justify-content: center;     
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

#preview {
    margin-top: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.7);
    padding: 1rem;
    position: relative;
}

#preview::before {
    /* content: 'Hasil Unggah Foto'; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}

table .materiKosong {
    background-color:#7ecfc9;
}

div .infoTable{
    margin: inherit;
    color: black;
}
div .infoBtnMateri{
   background-color:#7ecfc9 ;
    border-color: #7ecfc9;
    pointer-events: none;
}
table .statisWidth {
    width: 15%;
}
.embed-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Just for test, remove this part */
    opacity: 0.25;
    /* background-color: red; */
    width: 98%; 
    height: 96%;
}

.wrapper {
    position: relative;
    /* overflow: hidden; */
    height: auto;
}

.embed-cover {
    overflow: hidden;
}

iframe { overflow:hidden; }


/* Not Important*/


/* 
/* iframe {
    width: 300px
} */



