<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Ubah Data Pengantar Presiden</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Ubah Data Pengantar Presiden</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchUbahRisalah" (ngModelChange)="onSearchUbahRisalah($event)" type="text" class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                        <button type="button" class="btn btn-primary disabled
                            infoBtnRisalah"></button>
                        <h6 class="infoTable">Pengantar Presiden Belum Diunggah</h6>
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th>JENIS SIDANG</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan | filter:searchUbahRisalah | paginate: {id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index"[ngClass]="{'risalahKosong':
                            item.nomor_risalah === null}">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.nama_sidang}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                                            <!-- <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="openFile(item.id_undangan,risalahModal)"
                                                [class.disabled]="item.risalah === null ? true : false"
                                            >
                                                Lihat Risalah
                                            </a> -->
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                [class.disabled]="item.nomor_risalah
                                                === null ? true: null"
                                            >
                                                Ubah Pengantar Presiden
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <!-- <td>
                                    <button class="btn btn-success" (click)="openFile(item.id_undangan,risalahModal)">Lihat Risalah</button>
                                    <button class="btn btn-primary ml-1" (click)="open(item.id_undangan,mymodal)">Ubah Risalah</button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                    <!--<ul *ngIf="this.isSearching === false" class="pagination pagination-primary">
                        <li [ngClass]="{'active': this.awalan === true}" (click)='gantiPage(0)'>
                            <a [ngClass]="{'putih': this.awalan === true}" class="page-link" href="javascript:void(0);">1</a></li>
                        <li (click)='gantiPage(i + 1)' *ngFor="let item of arrayOne(this.jumlahPage -1) ;index as i">
                            <a class="page-link" href="javascript:void(0);">{{i + 2}}</a></li>
                    </ul>-->
                </div>
            </div>
           
            <ng-template #mymodal let-modal>
                <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-spin-clockwise"
                >
                <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                </ngx-spinner>
                <div class="modal-header">
                    <h5 class="modal-title">Ubah Data Pengantar Presiden</h5>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="modal-body">
                                <!-- <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm.valid)"> -->
                                <form #profileForm="ngForm">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-end">
                                                <p class="ml-auto">tanda (*) wajib diisi</p>
                                            </div>                        
                                            <div class="form-group">
                                                <label>Nomor Pengantar Presiden*</label>
                                                <input [(ngModel)]="this.nomor_risalah" class="form-control" name="nomor_risalah" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Tanggal TTD Pengantar Presiden*</label>
                                                <!-- <input [(ngModel)]="tgl_ttd_risalah" class="form-control" name="tgl_ttd_risalah" ng-flat-datepicker> -->
                                                <input class="form-control" placeholder="Masukkan Tanggal" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.tgl_ttd_risalah">
                                                <owl-date-time #dt1 pickerType="calendar"></owl-date-time>

                                            </div>  
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <label>Jam Mulai Sidang*</label>
                                                        <input class="form-control" placeholder="Masukkan Jam" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.jam_mulai_sidang">
                                                        <owl-date-time #dt8 pickerType="timer"></owl-date-time>
                    
                                                        <!-- <angular2-date-picker [ngModel]="date" [(ngModel)]="waktu_sidang" [ngModelOptions]="{standalone: true}">
                                                        </angular2-date-picker> -->
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Zona Waktu*</label>
                                                        <select [(ngModel)]="this.zona_waktu" class="custom-select" [ngModelOptions]="{standalone: true}">
                                                            <option value="WIB">WIB</option>
                                                            <option value="WITA">WITA</option>
                                                            <option value="WIT">WIT</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Penyimpanan Arsip*</label>
                                                <input [(ngModel)]="this.penyimpanan_arsip" class="form-control" name="penyimpanan_arsip">
                                            </div>
                                            <!-- <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <label class="input-group-text" >Status Risalah*</label>
                                                </div>
                                                <select [(ngModel)]="this.status_risalah" class="custom-select" [ngModelOptions]="{standalone: true}">
                                                    <option selected>Silahkan Pilih</option>
                                                    <option value="1">Distribusi</option>
                                                    <option value="0">Tidak Distribusi</option>
                                                </select>                                                
                                            </div> -->
                                            <!-- <div *ngIf="status_risalah == 1">
                                                <div class="form-group">
                                                    <label for="food">Penerima Risalah*</label>                                                
                                                    <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Daftarkan Penerima Risalah...'" [data]="dataUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                                                    </ng-multiselect-dropdown>
                                                </div>
                                            </div> -->
                                            <div class="form-group">
                                                <label>Unggah Berkas Pengantar Presiden*</label>
                                                <input accept=".pdf" class="form-control" name="path_risalah" type="file" (change)="onFileSelected($event)" required>
                                            </div>      
                                            <div *ngIf="this.risalah[0] === undefined || this.file_name !== ''">
                                                <div class="form-group">
                                                    <label>Nama Berkas Sebelumnya</label>
                                                    <input type="text" [(ngModel)]="this.file_name" class="form-control" name="file_name" disabled>
                                                    <!-- <input type="text" [(ngModel)]="this.path_risalah" class="form-control" name="path_risalah" disabled> -->
                                                </div>                            
                                            </div>      
                                        </div>
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" type="submit" (click)="this.ubahRisalah()"><i class="fa fa-edit" aria-hidden="true">&nbsp;</i>Ubah</button>

                    <!-- <button *ngIf="isLoadingRisalah === true" disabled type="button" class="btn btn-primary"><i
                        class="fa fa-spinner"></i></button> -->
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
