.tambahan {
    background-color: transparent !important;
}
.navbar-inverse {
    /* background-image: linear-gradient(#C9463D, black) !important; */
    background-color: #C9463D;
    z-index: 1001 !important;
}

/* .icon-login {
    cursor: pointer;
} */

ul.dropdown-menu.user-menu.menu-icon {
    width: 160px;
    margin-top: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

a.dropdown-toggle.icon-menu {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

a.icon-menu1.d-none.d-sm-block {
    height: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a.icon-menu2.d-none.d-sm-block {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

li .icon-users {
    color: black;
}

li .icon-login {
    color: black;
}

@media (min-width: 1201px) {
    .fa-bars {
        display: none !important;
    }
} 

@media (max-width: 1200px) {
    .navbar-fixed-top {
        width: calc(100%) !important;
    }

    /* .container-fluid {
        width: 100% !important;
        position: absolute !important;
    } */

    .navbar-btn {
        margin-left: 0;
    }
}