<nav (scroll)="this.onWindowScroll($event)" class="navbar navbar-fixed-top"
    style="border-bottom: black;border-width: 0px !important;">
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-offcanvas" (click)="toggleSideMenu()"><i
                    class="lnr lnr-menu fa fa-bars" style="color: white;"></i></button>
        </div>

        <!-- <div class="navbar-brand">
            <form id="navbar-search" class="navbar-form search-form">
                <input value="" class="form-control" placeholder="Cari Disini..." type="text">
                <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>
            </form>
        </div> -->

        <div class="navbar-right">
            <div id="navbar-menu">
                <ul class="nav navbar-nav">
                    <!-- <li>
                        <a [routerLink]="['/admin/file-manager/file-documents']"
                            class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i
                                class="fa fa-folder-open-o"></i></a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/app/app-calendar']"
                            class="icon-menu d-none d-sm-block d-md-none d-lg-block"><i class="icon-calendar"></i></a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/app/app-chat']" class="icon-menu d-none d-sm-block"><i
                                class="icon-bubbles"></i></a>
                    </li>
                    <li>
                        <a [routerLink]="['/admin/app/app-inbox']" class="icon-menu d-none d-sm-block"><i
                                class="icon-envelope"></i><span class="notification-dot"></span></a>
                    </li>
                    <li style="z-index: 1500;" class="dropdown" ngbDropdown>
                        <a class="dropdown-toggle icon-menu" ngbDropdownToggle>
                            <i class="icon-bell"></i>
                            <span class="notification-dot"></span>
                        </a>
                        <ul class="dropdown-menu notifications" ngbDropdownMenu>
                            <li class="header"><strong>You have 4 new Notifications</strong></li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="icon-info text-warning"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text">Campaign <strong>Holiday Sale</strong> is nearly reach
                                                budget limit.</p>
                                            <span class="timestamp">10:00 AM Today</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="icon-like text-success"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text">Your New Campaign <strong>Holiday Sale</strong> is approved.
                                            </p>
                                            <span class="timestamp">11:30 AM Today</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="icon-pie-chart text-info"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text">Website visits from Twitter is 27% higher than last week.
                                            </p>
                                            <span class="timestamp">04:00 PM Today</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="icon-info text-danger"></i>
                                        </div>
                                        <div class="media-body">
                                            <p class="text">Error on website analytics configurations</p>
                                            <span class="timestamp">Yesterday</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="footer"><a href="javascript:void(0);" class="more">See all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ngbDropdown>
                        <a class="dropdown-toggle icon-menu" ngbDropdownToggle><i class="icon-equalizer"></i></a>
                        <ul class="dropdown-menu user-menu menu-icon" ngbDropdownMenu>
                            <li class="menu-heading">ACCOUNT SETTINGS</li>
                            <li><a href="javascript:void(0);"><i class="icon-note"></i> <span>Basic</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-equalizer"></i>
                                    <span>Preferences</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-lock"></i> <span>Privacy</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-bell"></i> <span>Notifications</span></a>
                            </li>
                            <li class="menu-heading">BILLING</li>
                            <li><a href="javascript:void(0);"><i class="icon-credit-card"></i> <span>Payments</span></a>
                            </li>
                            <li><a href="javascript:void(0);"><i class="icon-printer"></i> <span>Invoices</span></a>
                            </li>
                            <li><a href="javascript:void(0);"><i class="icon-refresh"></i> <span>Renewals</span></a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="dropdown" ngbDropdown>
                        <a class="dropdown-toggle icon-menu" ngbDropdownToggle><i class="icon-user"></i></a>
                        <ul class="dropdown-menu user-menu menu-icon" style="background-color: white;" ngbDropdownMenu>
                            <li *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Sidang' || this.nama_role === 'Admin Materi' || this.nama_role === 'Admin Risalah' || 
                                this.nama_role === 'User Tipe 1' || this.nama_role === 'User Tipe 2' || this.nama_role === 'User Tipe 3' || 
                                this.nama_role === 'User Tipe 4' || this.nama_role === 'User Tipe 5'"
                                class="mb-3 cardDashboard">
                                <a [routerLink]="[ '/admin/pages/page-profile']" class="icon-menu1 d-sm-block"><i
                                        class="icon-users"></i><span style="color: black;">Akun Profil</span></a></li>
                            <li><a (click)="opensweetalertcst()" class="icon-menu2 d-sm-block"><i
                                        class="icon-login"></i><span style="color: black;">Keluar</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>