<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Peran</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Peran</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="query" (ngModelChange)="updateQuery($event)" type="text" class="form-control" placeholder="Cari Peran">
                    </div>
                </div>

                <div class="ml-4">
                    <button class="btn btn-success" (click)="tambahModal(tambahmodal)">+ Tambah</button>
                </div>
               
                <div class="body table-responsive userData">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <th class="id">NO.</th>
                            <th class="nama_role">PERAN</th>
                            <th class="button-role">AKSI</th>
                        </thead>
                        <tbody *ngIf="this.isSearching === false">
                            <!--<tr *ngFor="let item of this.dataRole, let ndx = index">
                                <td scope="row">{{ndx+1}}</td>-->
                            <tr *ngFor="let item of this.dataRole | paginate: { itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nama_role}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_role, mymodal)"
                                            >
                                                Ubah
                                            </a>
                
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="deleteRole(item.id_role)"
                                            >
                                                Hapus
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <!-- <div>
                                    <td><button class="btn btn-primary" (click)="open(item.id_role, mymodal)">Ubah</button></td>
                                    <td><button class="btn btn-danger" (click)="deleteRole(item.id_role)">Hapus</button></td>
                                </div> -->
                            </tr>
                        </tbody>
                        <tbody *ngIf="this.isSearching === true">
                            <!--<tr *ngFor="let item of this.dataRole, let ndx = index">
                                <td scope="row">{{ndx+1}}</td>-->
                            <tr *ngFor="let item of this.dataRole | search:query | paginate: { itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nama_role}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_role, mymodal)"
                                            >
                                                Ubah
                                            </a>
                
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="deleteRole(item.id_role)"
                                            >
                                                Hapus
                                            </a>
                                        </div>
                                    </div>
                                    <!-- <td><button class="btn btn-primary" (click)="open(item.id_role, mymodal)">Ubah</button></td>
                                    <td><button class="btn btn-danger" (click)="deleteRole(item.id_role)">Hapus</button></td> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <!--ul *ngIf="this.isSearching === false" class="pagination pagination-primary">
                        <li [ngClass]="{'active': this.awalan === true}" (click)='gantiPage(0)'>
                            <a [ngClass]="{'putih': this.awalan === true}" class="page-link" href="javascript:void(0);">1</a></li>
                        <li (click)='gantiPage(i + 1)' *ngFor="let item of arrayOne(this.jumlahPage -1) ;index as i">
                            <a class="page-link" href="javascript:void(0);">{{i + 2}}</a></li>
                    </ul-->
                </div>
            </div>
            
            <ng-template #mymodal let-modal>      
                    <div class="modal-header">
                        <h5 class="modal-title">Perbarui Peran</h5>
                    </div>
                    <div class="modal-body" *ngFor="let item of this.roleById">
                        <form #profileForm="ngForm" (ngSubmit)="ubahRole()">
                            <div class="form-group">
                                <label>Role</label>
                                <input [(ngModel)]="this.nama_role" class="form-control" name="nama_role" id="nama_role">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="ubahRole()">Perbarui</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Tutup</button>
                    </div>    
            </ng-template>

            <ng-template #tambahmodal let-modal>               
                <div class="modal-header">
                    <h5 class="modal-title">Tambah Peran</h5>
                </div>
                <div class="modal-body">
                    <form #profileForm="ngForm">
                        <div class="form-group">
                            <label>Peran</label>
                            <input [(ngModel)]="nama_role" class="form-control" name="nama_role" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="tambahRole()">Tambah</button>
                    <button type="button" class="btn btn-danger" (click)="tutupModal()">Tutup</button>
                </div> 
            </ng-template>

        </div>
    </div>

</div>
