<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Survey</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar
                        Survey</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchSurvey" (ngModelChange)="onSearchSurvey($event)" type="text"
                            class="form-control" placeholder="Cari Survey">
                    </div>
                </div>

                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>SURVEY</th>
                                <th style="text-align: center;">TANGGAL PEMBUATAN SURVEY</th>
                                <!-- <th>PERTANYAAN</th> -->
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataSurveyMap |
                                filter:searchSurvey | paginate: {id:'5',
                                itemsPerPage: 10,
                                currentPage: p } ; let ndx= index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nama_master_survey}}</td>
                                <td style="text-align: center;">{{item.format_tanggal}}</td>
                                <!-- <td>{{item.pertanyaan}}</td> -->
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-success" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                         
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="open(item.id_master_survey,modalSurvey)">
                                                Kirim Survey
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>            

            <ng-template #modalSurvey let-modal>
                <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon
                        Tunggu...</p>
                </ngx-spinner>       -->
                <form #surveyForm="ngForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Kirim Survey</h5>
                    </div>
                    <div class="modal-body">
                        <h5 style="text-align: center; margin-bottom: 10px;">Daftar Pertanyaan Survey
                        </h5>
                        <div class="body table-responsive penerima-undangan">
                            <table class="table table-striped table-penerima">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>PERTANYAAN</th>
                                        <th>GRUP PERTANYAAN</th>
                                        <th>AKSI</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="this.masterSurveyById === 'no data found' ">
                                    <tr class="table-secondary">
                                        <td colspan="4" style="text-align: center;">Pertanyaan survey belum tersedia</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="this.masterSurveyById !== 'no data found' ">
                                    <tr *ngFor="let item of this.masterSurveyById,let ndx= index">
                                        <td scope="row">{{ndx+1}}</td>
                                        <td>{{item.pertanyaan}}</td>
                                        <td>{{item.nama_group_pertanyaan}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success" id="dropdownMenuButton{{item.id_pertanyaan}}"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">                                         
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="editPertanyaan(item,modalPertanyaan)">
                                                        Edit Pertanyaan
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="food">Penerima Survey</label>                                                
                            <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Daftarkan Penerima Survey...'" [data]="dataUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!surveyForm.valid" type="submit" class="btn btn-success" (click)="kirimSurvey(this.idMasterSurvey)"><i class=i class="fa fa-send-o" aria-hidden="true">&nbsp;</i>Kirim</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>    
                </form>
            </ng-template>

            <ng-template #modalPertanyaan let-modal>
                <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon
                        Tunggu...</p>
                </ngx-spinner>       -->
                <form #surveyForm="ngForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Pertanyaan</h5>
                    </div>
                    <div class="modal-body">
                        <h5 style="text-align: center; margin-bottom: 10px;">Pertanyaan Survey
                        </h5>
                        <div class="form-group">
                            <label>Pertanyaan</label>
                            <input 
                            [(ngModel)]="pertanyaan" 
                            class="form-control" 
                            name="pertanyaan" 
                            id="pertanyaan"
                            [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="form-group">
                            <label>Grup Pertanyaan</label>
                            <select class="custom-select" id="id_group_pertanyaan" [(ngModel)]="id_group_pertanyaan" [ngModelOptions]="{standalone: true}">
                                <option 
                                *ngFor="let grup of groupPertanyaan" 
                                [value]="grup.id_group_pertanyaan"
                                >{{grup.group_pertanyaan}}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="ubahPertanyaan(modal.dismiss('Cross click'))"><i class=i class="fa fa-send-o" aria-hidden="true">&nbsp;</i>Ubah Pertanyaan</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>    
                </form>
            </ng-template>
        </div>
    </div>
</div>