/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */

li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-header{     
    justify-content: center;     
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

#preview {
    margin-top: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.7);
    padding: 1rem;
    position: relative;
}

#preview::before {
    /* content: 'Hasil Unggah Foto'; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}

.table-striped tbody tr td,
.table-striped tbody th td {
    vertical-align: middle !important;
    white-space: none !important;
}
table .statisWidth {
    width: 15%;
}

@media screen and (max-width: 960px) {
	.responsive_table {
		overflow-x: auto !important;
	}

	.mat-table caption {
		font-size: 1em;
	}

	/*  Enable this to hide header
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    */
	.mat-table .mat-row {
		border-bottom: 5px solid #ddd;
		display: block;
	}
	/*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
	.mat-table .mat-cell {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: 1em;
		text-align: right;
		font-weight: bold;
		height: 30px;
		margin-bottom: 4%;
	}
	.mat-table .mat-cell:before {
		/*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: normal;

		font-size: .85em;
	}
	.mat-table .mat-cell:last-child {
		border-bottom: 0;
	}
	.mat-table .mat-cell:first-child {
		margin-top: 4%;
	}
}