<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Undangan Saya</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar
                        Undangan Saya</li>
                </ul>
            </div>
        </div>
    </div>
  
    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i
                                    class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchUndangan" (ngModelChange)="onSearchUndangan($event)" type="text" class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th>JENIS SIDANG</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan |
                                search:searchUndangan | paginate: { id:'5', itemsPerPage: 10,
                                currentPage: p } ; let ndx= index ;">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.nama_sidang}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu"
                                            aria-labelledby="dropdownMenuButton">
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0);"
                                                (click)="openFile(item.id_undangan,modalUndangan)">
                                                Lihat Undangan
                                            </a>
  
                                            <a
                                                class="dropdown-item"
                                                href="javascript:void(0);"
                                                (click)="open(item.id_undangan,mymodal)">
                                                Detail Undangan
                                            </a>
                                            <a
                                                *ngIf="(item.lokasi == 'Daring'
                                                && item.status_sidang ==
                                                'sedang_berlangsung')"
                                                class="dropdown-item"
                                                (click)="joinRoom(item.id_undangan)">
                                                {{this.btnTxtVcon}}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>
  
  
            <ng-template #modalUndangan let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.undanganById2">
                    <form #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                        <iframe #iframe  [src]="pdfSrc" frameborder="0" style="width: 100%;height: 500px"> </iframe>                           
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        (click)="modal.close('Cross click')">Tutup</button>
                </div>
            </ng-template>
  
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Undangan</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.undanganById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nama Sidang</label>
                                <input type="text" class="form-control"
                                    id="nama_sidang" disabled
                                    [(ngModel)]="item.nama_sidang"
                                    name="nama_sidang">
                            </div>
                            <div class="form-group">
                                <label for="name">Pimpinan Sidang</label>
                                <input type="text" class="form-control"
                                    id="nama_jabatan" disabled
                                    [(ngModel)]="item.nama_jabatan"
                                    name="nama_jabatan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tema Sidang</label>
                                <input type="text" class="form-control"
                                    id="tema" disabled [(ngModel)]="item.tema"
                                    name="tema">
                            </div>
                            <div class="form-group">
                                <label for="name">Jenis Sidang</label>
                                <input type="text" class="form-control"
                                    id="jenis_sidang" disabled
                                    [(ngModel)]="item.nama_sidang"
                                    name="nama_sidang">
                            </div>
                        </div>
  
  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Lokasi Sidang</label>
                                <input type="text" class="form-control"
                                    id="lokasi" disabled
                                    [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi"
                                    name="lokasi">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Pembuatan Undangan</label>
                                <input type="text" class="form-control"
                                    id="create_date_formated" disabled
                                    [(ngModel)]="item.create_date_formated"
                                    name="create_date_formated">
                            </div>
                            <div class="form-group">
                                <label for="name">Nomor Undangan</label>
                                <input type="text" class="form-control"
                                    id="nomor_undangan" disabled
                                    [(ngModel)]="item.nomor_undangan"
                                    name="nomor_undangan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Sidang</label>
                                <input type="text" class="form-control"
                                    id="waktu_sidang_formated" disabled
                                    [(ngModel)]="item.waktu_sidang_formated"
                                    name="waktu_sidang_formated">
                            </div>
                        </div>
                    </div>
                    <!-- <hr>
  
                    <h5 style="text-align: center; margin-bottom: 10px;">Penerima
                        Undangan</h5>
                    <div class="body table-responsive penerima-undangan">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>JABATAN</th>
                                    <th>NAMA PENERIMA</th>
                                    <th>STATUS KONFIRMASI</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.notifUndanganById === 'no data
                                found'">
                                <tr class="table-secondary">
                                    <td colspan="4" style="text-align: center;">Data
                                        responden undangan belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.notifUndanganById !== 'no data
                                found'">
                                <tr *ngFor="let item of
                                    this.notifUndanganById,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                    <td>{{item.konfirmasi_kehadiran ?
                                        item.konfirmasi_kehadiran : "belum
                                        konfirmasi"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                </div>
  
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                        (click)="modal.dismiss('Cross click')">Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>
  
  </div>
  