/* General Styles */

body {
    background-color: $grey-50;
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}

.body {
    &:before,
    &:after {
        height: 5px;
        width: 100%;
        position: fixed;
        content: '';
        z-index: 999;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    &.full-dark {
        color: $theme-darkfont;
        background: $theme-dark;
        height: 100%;
        .form-control,
        .input-group-text,
        .page-link,
        .btn-default,
        .custom-select,
        .custom-file-label {
            background-color: $theme-dark2 !important;
            border-color: $theme-darkline !important;
        }
        .multiselect-dropdown .dropdown-btn,
        .btn-outline-secondary {
            border-color: $theme-darkline !important;
        }
        .navbar-nav .icon-menu i,
        .media .media-body .media-heading,
        .product_item .product_details h5 a {
            color: $theme-darkfont2;
        }
        .navbar .btn-toggle-offcanvas {
            color: $theme-darkfont2;
        }
        .table,
        .right_chat .media .name,
        .chat .chat-history .message-data-time,
        .single_post h3 a,
        .media .media-body {
            color: $theme-darkfont !important;
        }
        hr,
        .feeds_widget li,
        .list-widget .list-group-item,
        .table td,
        .table th,
        .mail-inbox .mail-left,
        .mail-inbox .mail-right .mail-list ul li,
        .mail-inbox .mail-right .mail-action .btn,
        .chat .chat-header,
        .chat-app .chat,
        .chat .chat-history,
        .file_manager .file .file-name,
        .nav-tabs-new>li>a,
        .nav-tabs-new2,
        .single_post2 .content .actions_sidebar a,
        .right-box .instagram-plugin li,
        .c_review li,
        .pricing li+li,
        .navbar-nav .dropdown-menu {
            border-color: $theme-darkline !important;
        }
        .list-group-item,
        .bd-example-border-utils [class^=border] {
            background-color: $theme-dark !important;
        }
        .mail-inbox {
            .mail-left .mail-side .nav li.active {
                background-color: $theme-dark !important;
                a {
                    color: $theme-darkfont2 !important;
                }
            }
            .mail-right .mail-list ul li {
                .hover-action {
                    background: $theme-dark2 !important;
                }
                &.unread {
                    background: $theme-dark !important;
                }
                .mail-detail-right h6 a {
                    color: $theme-darkfont2 !important;
                }
            }
        }
        .table tr:hover {
            color: $theme-darkfont2;
        }
        .chat-widget li.left {
            .chat-info {
                background: $theme-dark;
                &::before {
                    border-right-color: $theme-dark;
                }
            }
        }
        .chat .chat-history .my-message {
            background-color: $theme-dark !important;
            color: $theme-darkfont !important;
            &:after {
                border-bottom-color: $theme-dark !important;
            }
        }
        .fc {
            .fc-view-container {
                .fc-view {
                    &.fc-basic-view .fc-body .fc-row .fc-bg,
                    &.fc-agenda .fc-body .fc-row .fc-bg,
                    &.fc-basic-view>table tbody tr td.fc-widget-content,
                    &.fc-agenda>table tbody tr td.fc-widget-content {
                        border-color: $theme-darkline !important;
                    }
                    &.fc-basic-view {
                        &>table {
                            &>thead {
                                tr {
                                    td.fc-widget-header {
                                        border-color: $theme-darkline !important;
                                    }
                                }
                            }
                        }
                    }
                    .fc-today {
                        background: #3b3b46;
                        border-left: $theme-darkline;
                    }
                    .fc-head {
                        border: $theme-darkline;
                    }
                }
                .fc-other-month {
                    background: $theme-dark !important;
                }
            }
        }
        .nav-tabs {
            border-color: $theme-darkline;
            .nav-link {
                &.active {
                    border-color: $theme-darkline $theme-darkline $theme-dark;
                }
            }
        }
        .new_timeline {
            >ul::before {
                background-color: $theme-darkline !important;
            }
            .bullet {
                background: $theme-darkline !important;
            }
        }
        .timeline-item {
            border-color: $theme-darkline !important;
            &:after {
                background-color: $theme-dark2 !important;
            }
        }
        .table .thead-light th {
            background-color: $theme-darkline;
            color: $grey-200;
        }
        .progress {
            background-color: $theme-darkline;
        }
        .accordion.custom {
            .card-header {
                border-color: $theme-darkline !important;
                .btn {
                    color: $theme-darkfont2;
                }
            }
        }
        .people-list .chat-list li {
            &.active,
            &:hover {
                background: $theme-dark !important;
            }
        }
        .navbar-fixed-top {
            background: $theme-dark2;
            border-color: $theme-darkline;
        }
        .navbar-nav .icon-menu .notification-dot {
            background-color: $grey-100;
        }
        #left-sidebar {
            background: $theme-dark;
            .nav-tabs {
                border-color: $theme-darkline;
                .nav-link {
                    &.active {
                        border-color: $theme-darkline $theme-darkline $theme-dark;
                    }
                }
            }
        }
        .sidebar-nav {
            .metismenu {
                a {
                    color: $theme-darkfont;
                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $theme-dark2;
                    }
                }
                >li {
                    .active a {
                        color: $theme-darkfont2;
                    }
                    &.active>a,
                    &.active>a:hover {
                        background-color: $theme-dark2;
                    }
                }
            }
        }
        .user-account {
            color: $theme-darkfont2;
        }
        #main-content {
            background: $theme-dark;
            .card {
                background: $theme-dark2;
                .header {
                    h2 {
                        color: $theme-darkfont2;
                    }
                }
                .body {
                    color: $theme-darkfont;
                }
            }
        }
    }
    @include max-screen($break-medium) {
        &:before,
        &:after {
            height: 2px;
        }
    }
}

a {
    &:hover,
    &:focus {
        color: $link-color-hover;
        text-decoration: none;
    }
}

.inlineblock {
    display: inline-block;
}

.displayblock {
    display: block;
}

.displaynone {
    display: none;
}

.overflowhidden {
    overflow: hidden;
}

.z-index {
    z-index: 9999;
}

.br8 {
    border-radius: 8px;
}

.p-10 {
    padding: 10px !important;
}

.l-green {
    background: linear-gradient(45deg, #9ce89d, #cdfa7e) !important;
}

.l-pink {
    background: linear-gradient(45deg, #ffc0cb, #fbc1cb) !important;
}

.l-turquoise {
    background: linear-gradient(45deg, #00ced1, #08e5e8) !important;
}

.l-cyan {
    background: linear-gradient(45deg, #49cdd0, #00bcd4) !important;
}

.l-khaki {
    background: linear-gradient(45deg, #f0e68c, #fdf181) !important;
}

.l-coral {
    background: linear-gradient(45deg, #f08080, #f58787) !important;
}

.l-salmon {
    background: linear-gradient(45deg, #ec74a1, #fbc7c0) !important;
}

.l-blue {
    background: linear-gradient(45deg, #72c2ff, #86f0ff) !important;
}

.l-seagreen {
    background: linear-gradient(45deg, #8ed8ec, #85f7b5) !important;
}

.l-amber {
    background: linear-gradient(45deg, #fda582, #f7cf68) !important;
}

.l-blush {
    background: linear-gradient(45deg, #dd5e89, #f7bb97) !important;
}

.l-parpl {
    background: linear-gradient(45deg, #a890d3, #edbae7) !important;
}

.l-slategray {
    background: linear-gradient(45deg, #708090, #7c8ea0) !important;
}

.xl-pink {
    background: #f9edee !important;
}

.xl-turquoise {
    background: #bdf3f5 !important;
}

.xl-khaki {
    background: #f9f1d8 !important;
}

.xl-parpl {
    background: #efebf4 !important;
}

.xl-salmon {
    background: #ffd4c3 !important;
}

.xl-blue {
    background: #e0eff5 !important;
}

.xl-seagreen {
    background: #ebf2e8 !important;
}

.xl-slategray {
    background: #eceeef !important;
}

.page-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: $font-weight-400;
}

footer {
    padding: 0 30px;
    padding-bottom: 15px;
    position: absolute;
    right: 0;
    @include max-screen($break-small) {
        position: relative;
        text-align: center;
    }
}

.copyright {
    margin-bottom: 0;
    font-size: 13px;
}

.btn-default {
    color: $grey-600;
    background-color: $col-white;
    border-color: $grey-300;
    padding: 6px 18px;
}

.btn-toolbar>.btn-group {
    @extend .m-l-5;
}

.navbar>.container,
.navbar>.container-fluid {
    flex-wrap: nowrap;
}

@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
}

@media only screen and (max-width: $break-medium) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (max-width: $break-1024) {
    .hidden-md {
        display: none;
    }
}