<div class="container-fluid file_manager">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 style="color: white !important;">Daftar Dokumen Risalah Sidang</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i style="color: white !important;" class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li style="color: white !important;" class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active" style="color: white !important;">Daftar Dokumen Risalah Sidang</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 42KB <span class="date text-muted">Nov 02, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2016.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2016.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-success"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">asdf hhkj.pdf</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-success"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">asdf hhkj.pdf</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-success"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">asdf hhkj.pdf</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-success"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">asdf hhkj.pdf</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 3MB <span class="date text-muted">Aug 18, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2016.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2017.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 103KB <span class="date text-muted">Jan 24, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2016.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 68KB <span class="date text-muted">Dec 12, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 42KB <span class="date text-muted">Nov 02, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bar-chart text-warning"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Report2017.xls</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 103KB <span class="date text-muted">Jan 24, 2016</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="file">
                    <a href="javascript:void(0);">
                        <div class="hover">
                            <button type="button" class="btn btn-icon btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file text-info"></i>
                        </div>
                        <div class="file-name">
                            <!-- <p class="m-b-5 text-muted">Document_2017.doc</p> -->
                            <p class="m-b-5 text-muted">Dokumen_Risalah_Sidang.pdf</p>
                            <small>Size: 89KB <span class="date text-muted">Dec 15, 2017</span></small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>