<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Master Data</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Master Data</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card pt-3" style="min-height: 200px;">
                <div class="row pl-4 pr-4">
                    <div class="col-lg-3">
                        <div class="card mt-2" style="border: 1px solid rgba(0, 0, 0, 0.500); box-sizing: border-box;">
                            <a [routerLink]="['/admin/list/list-jenis-sidang']">
                                <div class="card-body pt-2 pb-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Jenis Sidang</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mt-2" style="border: 1px solid rgba(0, 0, 0, 0.500); box-sizing: border-box;">
                            <a [routerLink]="['/admin/list/list-lokasi']">
                                <div class="card-body pt-2 pb-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Lokasi</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mt-2" style="border: 1px solid rgba(0, 0, 0, 0.500); box-sizing: border-box;">
                            <a [routerLink]="['/admin/list/list-jabatan']">
                                <div class="card-body pt-2 pb-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Jabatan</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mt-2" style="border: 1px solid rgba(0, 0, 0, 0.500); box-sizing: border-box;">
                            <a [routerLink]="['/admin/list/list-group']">
                                <div class="card-body pt-2 pb-2">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Grup</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card master" style="min-height: 200px; background-image: linear-gradient(#0a0a0af2, #C9463D);">
                <div class="row pl-4 pr-4" style="margin-top: 60px;">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body" style="border-radius: 10px;">
                                <a [routerLink]="['/admin/list/list-jenis-sidang']">
                                    <div class="card-body pt-2 pb-2">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Jenis Sidang</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <a [routerLink]="['/admin/list/list-lokasi']">
                                    <div class="card-body pt-2 pb-2">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <i class="fa fa-table mr-1" style="color: black;"></i>
                                            <p class="tabel" style="color: black;display: inline; all: unset;">Tabel Lokasi</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <a [routerLink]="['/admin/list/list-jabatan']">
                                    <div class="card-body pt-2 pb-2">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Jabatan</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <a [routerLink]="['/admin/list/list-group']">
                                    <div class="card-body pt-2 pb-2">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <i class="fa fa-table mr-1" style="color: black;"></i><p class="tabel" style="color: black;display: inline; all: unset;">Tabel Grup</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
