li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-undangan {
    width: 600px;
}

.modal-header{     
    justify-content: center;     
}

table .id {
    width: 5%;
}

table .nama_sidang {
    width: 90%;
}

table .button-sidang {
    width: 5%;
    text-align: center;
}

table .nama_lokasi {
    width: 90%;
}

table .button-lokasi {
    width: 5%;
    text-align: center;
}

table .nama_group {
    width: 90%;
}

table .button-group {
    width: 5%;
    text-align: center;
}

table .nama_jabatan {
    width: 90%;
}

table .button-jabatan {
    width: 5%;
    text-align: center;
}

.btn-group {
    padding-left: 10%;
    padding-right: 10%;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

/* a:hover {
    color: rgb(47, 47, 255);
}

.table:hover {
    color: rgb(47, 47, 255);
} */
