div.content_header {
    width: calc(100% - 250px);
    top: 0px;
    right: 0px;
    background-image: linear-gradient(#C9463D, black);
    z-index: 990;
    height: 460px;
    position: absolute;
}

@media (max-width: 767px) {
    div.content_header {
        width: calc(100%);
        top: 0px;
        right: 0px;
        background-image: linear-gradient(#C9463D, black);
        z-index: 990;
        height: 875px;
        position: absolute;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    div.content_header {
        width: calc(100%);
        top: 0px;
        right: 0px;
        background-image: linear-gradient(#C9463D, black);
        z-index: 990;
        height: 600px;
        position: absolute;
    }
}

img.logo_header {
    position: absolute;
    top: 30px;
    left: 63%;
    -webkit-transform: translateX(-63%);
    transform: translateX(-63%);
    z-index: 1000;
}

@media (max-width: 1200px) {
    /* div.content_header {
        width: calc(100%);
        top: 0px;
        right: 0px;
        background-image: linear-gradient(#C9463D, black);
        z-index: 990;
        height: 460px;
        position: absolute;
    } */
    img.logo_header {
        position: absolute;
        top: 30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1000;
    }
}