.titleDashboard {
    margin-left: 5px !important;
    font-size: 25px;
    font-weight: bold;
    display: inline !important;
    font-size: medium;
}

.card .body .chartist {
    padding-top: 20px !important;
}