<div class="card" style="min-height: 400px; padding-top: 10px;">
    <div class="header" style="display: inline;">
        <p class="titleDashboard">{{this.customTitle}}</p>
        <div *ngIf="this.judul === 'Statistik Undangan'" style="float: right; padding: 0px 10px 0px 0px;">
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Materi</label>
                </div>
            </div> -->
            <select 
            class="custom-select custom-select-sm" 
            id="inputGroupSelect03" 
            (change)="changeTahunUndangan($event)" style="border-radius:7px; border-top: none;border-right: none;">
                <option selected disabled="disabled">Tahun</option>
                <option [value]="2020">2020</option>
                <option [value]="2021">2021</option>
                <!-- <option *ngFor="let data of this.filterTahunUndangan" [value]="data.tahun">{{data.tahun}}</option> -->
            </select>
        </div>

        <div *ngIf="this.judul === 'Statistik Total Materi'" style="float: right; padding: 0px 10px 0px 0px;">
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Materi</label>
                </div>
            </div> -->
            <select 
            class="custom-select custom-select-sm" 
            id="inputGroupSelect01" 
            (change)="changeTahunMateri($event)" style="border-radius:7px; border-top: none;border-right: none;">
                <option selected disabled="disabled">Tahun</option>
                <!-- <option [value]="">Semua</option> -->
                <option *ngFor="let data of this.filterTahunMateri" [value]="data.tahun">{{data.tahun}}</option>
            </select>
        </div>

        <div *ngIf="this.judul === 'Statistik Total Pengantar Presiden'" style="float: right; padding: 0px 10px 0px 0px;">
            <select 
            class="custom-select custom-select-sm" 
            id="inputGroupSelect02" 
            (change)="changeTahunRisalah($event)" style="border-radius:7px; border-top: none;border-right: none;">
                <option selected disabled="disabled">Tahun</option>
                <!-- <option [value]="">Semua</option> -->
                <option *ngFor="let data of this.filterTahunRisalah" [value]="data.tahun">{{data.tahun}}</option>
            </select>
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text">Risalah</label>
                </div>
            </div> -->
        </div>
        <app-card-actions></app-card-actions>
    </div>
    <div class="body">
        
        <div id="chart-top-products" class="chartist">
            <div echarts [options]="stackedBarChart"></div>
        </div>
    </div>
</div>