<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <ngx-gallery class="contoh-ngx" [options]="galleryOptions" [images]="_albums"></ngx-gallery>
            <!-- <div class="auth-box">
                <div class="top">
                    <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/logo-white.svg" alt="Lucid">
                </div> -->
                <p class="judulOTP">
                    <b>E-Kabinet</b>
                </p>
                <div class="form-otp">
                    <div class="card">
                        <div class="header">
                            <p class="lead">Verifikasi Akun Anda dengan OTP<br/>Alamat Email : <b>{{this.username}}</b></p>
                        </div>
                        <div class="body">
                            <form class="form-auth-small" #registrationForm="ngForm" (ngSubmit)="onSubmit()">
                                <!-- <div class="form-group">
                                    <label for="signup-email" class="control-label sr-only">Email</label>
                                    <input type="email" class="form-control" id="signup-email" placeholder="Your email">
                                </div> -->
                                <!-- <div class="form-group">
                                    <label for="signup-password" class="control-label sr-only">OTP</label>
                                    <input [(ngModel)]="otp" type="password" class="form-control" id="signup-password" placeholder="OTP" [ngModelOptions]="{standalone: true}">
                                </div> -->
                                <div class="form-group">
                                    <label for="signup-password" class="control-label sr-only">OTP</label>        
                                    <div class="input-group">    
                                        <input autocomplete="off" [type]="fieldTextType ? 'text' : 'password'" [(ngModel)]="otp" class="form-control" id="signup-password" placeholder="OTP" [ngModelOptions]="{standalone: true}">
                                        <div class="input-group-append">      
                                             <span class="input-group-text">        
                                                  <i class="fa fa-eye-slash" (click)="toggleFieldTextType()" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></i>       
                                                </span>   
                                             </div>
                                        </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">MASUK</button>
                                <div class="login-page d-flex justify-content-center">
                                    <span class="helper-text">Coba Masuk Kembali ? <a [routerLink]="['/authentication/page-login']">Klik disini</a></span>
                                </div>
                            </form>
                            <!-- <div class="separator-linethrough"><span>OR</span></div>
                            <button class="btn btn-signin-social"><i class="fa fa-facebook-official facebook-color"></i> Sign in with
                                Facebook</button>
                            <button class="btn btn-signin-social"><i class="fa fa-twitter twitter-color"></i> Sign in with Twitter</button> -->
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="footer">
        <!-- <div class="copy"> -->
            <!-- <p style="text-align: center;">Copyright &copy; Sekretariat Kabinet Indonesia 2020</p> -->
            <div class="copy d-flex justify-content-center">
                <p>Digital Signature supported by BSrE</p> <img src="../../../assets/images/logo-bsre.png" alt="logo bsre">
            </div>
        <!-- </div> -->
        <p>Copyright &copy; Sekretariat Kabinet Republik Indonesia 2020</p>
    </div>
</div>