p.judulOTP {
    margin-left: 60px;
    font-size: 30px;
    color: white;
}

.garuda-pancasila {
    z-index: 1000 !important;
    right: 25px !important;
    top: 25px !important;
    position: absolute !important;
    width: 300px !important;
    height: 326px !important;
}

.contoh-ngx {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    z-index: -1 !important;
    width: calc(100% - 500px) !important;
}

.login-page span {
    text-align: center;
    margin-top: 10px;
}

.form-otp {
    width: 500px;
    display: flex;
    justify-content: center;
} 

.form-otp .card {
    width: 380px;
}

.copy img {
    height: 40px;
    width: 90px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px !important;
    background-color: transparent;
    z-index: 999;
}

.footer .copy {
    padding-left: 12px;
}

.footer .copy p {
    padding-top: 12px;
}

.footer p {
    padding-top: 10px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}