<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <ngx-gallery class="img-slide-ngx" [options]="galleryOptions" [images]="_albums"></ngx-gallery>

            <p class="judul-login"><b>E-Kabinet</b></p>
            <div class="form-login">
                <div class="card">
                    <div class="header">
                        <p class="lead">Masuk dengan Alamat Email Anda</p>
                    </div>
                    <div class="body">
                        <form class="form-auth-small" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">alamat surel</label>
                                <input [(ngModel)]="username" type="text" class="form-control" id="signin-email" placeholder="alamat email" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">kata kunci</label>        
                                <div class="input-group">    
                                    <input [type]="fieldTextType ? 'text' : 'password'" [(ngModel)]="password" class="form-control" id="signin-password" placeholder="kata kunci" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">      
                                         <span class="input-group-text">        
                                              <i class="fa fa-eye-slash" (click)="toggleFieldTextType()" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></i>       
                                        </span>   
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">MASUK</button>                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <!-- <div class="copy"> -->
            <!-- <p style="text-align: center;">Copyright &copy; Sekretariat Kabinet Indonesia 2020</p> -->
            <div class="copy d-flex justify-content-center">
                <p>Digital Signature supported by BSrE</p> <img src="../../../assets/images/logo-bsre.png" alt="logo bsre">
            </div>
            <!-- </div> -->
            <p>Copyright &copy; Sekretariat Kabinet Republik Indonesia 2020</p>
    </div>
</div>