<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Tambah Responden Pengantar Presiden</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Tambah Responden Pengantar Presiden</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchTambahResponden" (ngModelChange)="onSearchTambahResponden($event)" type="text"
                            class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                        <button type="button" class="btn btn-primary disabled
                            infoBtnRisalah"></button>
                        <h6 class="infoTable">Pengantar Presiden Belum Diunggah</h6>
                    </div>
                    <div class="row ml-1" style="margin-top: 2px;">
                        <button type="button" class="btn btn-primary disabled
                            infoBtnStatus"></button>
                        <h6 class="infoTable">Pengantar Presiden Tidak Distribusi</h6>
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th>JENIS SIDANG</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                         <tbody>
                             <tr *ngFor="let item of this.dataUndangan | filter:searchTambahResponden | paginate: {id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index"[ngClass]="{risalahKosong:
                             item.nomor_risalah === null,tidakDistribusi:item.status_risalah === '0'}">
                                 <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                 <td>{{item.nomor_undangan}}</td>
                                 <td>{{item.waktu_sidang_formated}}</td>
                                 <td>{{item.sifat}}</td>
                                 <td>{{item.tema}}</td>
                                 <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                 <td>{{item.status}}</td>
                                 <td>{{item.nama_sidang}}</td>
                                 <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                [class.disabled]="item.nomor_risalah
                                                === null || item.status_risalah ==='0' ? true: null"
                                            >
                                                Detail Pengantar Presiden
                                            </a>
                                        </div>
                                    </div>
                                </td>
                             </tr>
                         </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title text-center">Tambah Responden</h5>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Jenis Sidang</label>
                                    <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="this.undanganById.nama_sidang" name="nama_sidang">
                                </div>
                                <div class="form-group">
                                    <label for="name">Pimpinan Sidang</label>
                                    <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="this.undanganById.nama_jabatan" name="nama_jabatan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tema Sidang</label>
                                    <input type="text" class="form-control" id="tema" disabled [(ngModel)]="this.undanganById.tema" name="tema">
                                </div>
                                <div class="form-group">
                                    <label for="name">Sifat Sidang</label>
                                    <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="this.undanganById.sifat" name="sifat">
                                </div>
                            </div>    
    
    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Lokasi Sidang</label>
                                    <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="this.undanganById.lokasi === 'Lainnya' ? this.undanganById.lokasi_alt : this.undanganById.lokasi" name="lokasi">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Pembuatan Undangan</label>
                                    <input type="text" class="form-control" id="create_date_formated" disabled [(ngModel)]="this.undanganById.create_date_formated" name="create_date_formated">
                                </div> 
                                <div class="form-group">
                                    <label for="name">Nomor Undangan</label>
                                    <input type="text" class="form-control" id="nomor_undangan" disabled [(ngModel)]="this.undanganById.nomor_undangan" name="nomor_undangan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Sidang</label>
                                    <input type="text" class="form-control" id="waktu_sidang_formated" disabled [(ngModel)]="this.undanganById.waktu_sidang_formated" name="waktu_sidang_formated">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5 style="text-align: center;">Penerima Pengantar Presiden</h5>
                        <div class="body table-responsive penerima-risalah">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>JABATAN</th>
                                        <th>NAMA PENERIMA</th> 
                                    </tr>
                                </thead>
                                <tbody *ngIf="this.notifRisalahById === 'no data found' ">
                                    <tr class="table-secondary">
                                        <td colspan="4" style="text-align: center;">Data responden belum tersedia</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="this.notifRisalahById !== 'no data found' ">
                                    <tr *ngFor="let item of this.notifRisalahById,let ndx = index">
                                        <th scope="row">{{ndx+1}}</th>
                                        <td>{{item.nama_jabatan}}</td>
                                        <td>{{item.nama_user}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form #profileForm="ngForm" (ngSubmit)="tambahResponden()">
                        <div class="form-group">
                            <label for="food">Tambah Responden</label>
                            <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel"[placeholder]="'Silahkan Menambahkan Penerima Pengantar Presiden ...'" 
                            [data]="dataUser"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                            </ng-multiselect-dropdown>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="this.tambahResponden()"><i class="fa fa-user-plus">&nbsp;</i>Tambah</button>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>

</div>
