li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}
.modal-header{
    justify-content: center;
}
.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}
table .risalahKosong {
    background-color:#7ecfc9;
}
table .tidakDistribusi {
    background-color: #eae4e9;
}
div .infoTable{
    margin: inherit;
    color: black;
}
div .infoBtnRisalah{
    background-color:#7ecfc9;
    border-color:#7ecfc9;
    pointer-events: none;
}
div .infoBtnStatus {
    background-color: #eae4e9;
    border-color: #eae4e9;
    pointer-events: none;
}
table .statisWidth {
    width: 15%;
}