<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Unggah Materi</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Unggah Materi</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchUnggahMateri" (ngModelChange)="onSearchUnggahMateri($event)" type="text" class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan | filter:searchUnggahMateri | paginate: { id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                
                                            >
                                                Unggah Materi
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>


            <ng-template #mymodal let-modal>
                <div *ngIf = "this.files.length !== 0">
                    <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    type="ball-spin-clockwise"
                    >
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                    </ngx-spinner>
                </div>
                <form #materiForm="ngForm">

                    <div class="modal-header">
                        <h5 class="modal-title">Unggah Materi</h5>
                    </div>
                    <div class="modal-body" *ngFor="let item of this.undanganById">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Jenis Sidang</label>
                                    <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                                </div>
                                <div class="form-group">
                                    <label for="name">Pimpinan Sidang</label>
                                    <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tema Sidang</label>
                                    <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                                </div>
                                <div class="form-group">
                                    <label for="name">Sifat Sidang</label>
                                    <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="item.sifat" name="sifat">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Lokasi Sidang</label>
                                    <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi" name="lokasi">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Pembuatan Undangan</label>
                                    <input type="text" class="form-control" id="create_date_formated" disabled [(ngModel)]="item.create_date_formated" name="create_date_formated">
                                </div>
                                <div class="form-group">
                                    <label for="name">Nomor Undangan</label>
                                    <input type="text" class="form-control" id="nomor_undangan" disabled [(ngModel)]="item.nomor_undangan" name="nomor_undangan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Sidang</label>
                                    <input type="text" class="form-control" id="waktu_sidang_formated" disabled [(ngModel)]="item.waktu_sidang_formated" name="waktu_sidang_formated">
                                </div>
                            </div>
                        </div>

                        <h5 style="text-align: center;margin-top: 30px;">Daftar Materi Yang Anda Unggah</h5>
                        <div class="body table-responsive userData">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>BERKAS</th>
                                        <th>NAMA PENGUNGGAH</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="this.materiUndanganById === 'no data found'">
                                    <tr class="table-secondary">
                                        <td colspan="4" style="text-align: center;">Anda Belum Mengunggah Materi</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="this.materiUndanganById !== 'no data found' && this.materiUser.length === 0">
                                    <tr class="table-secondary">
                                        <td colspan="4" style="text-align: center;">Anda Belum Mengunggah Materi</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="this.materiUndanganById !== 'no data found' && this.idUser2 === this.userCreate2">
                                    <tr *ngFor="let materi of this.materiUser, let ndx = index">
                                        <td scope="row">{{ndx+1}}</td>
                                        <td>{{materi.file_name}}</td>
                                        <td>{{materi.nama_user}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label>Unggah Materi</label>
                        <p>unggah materi dengan ektensi .pdf, .png, .jpeg, .jpg dan .mp4</p>
                        <ngx-dropzone [multiple]="true" accept=".png, .jpeg, .jpg, .pdf, .mp4" (change)="onSelect($event)">
                            <ngx-dropzone-label>Klik untuk menambahkan materi atau seret dokumen materi ke sini</ngx-dropzone-label>
                            <ngx-dropzone-preview [(ngModel)]="files" ngDefaultControl name="files" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                        <br>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" >Sifat Materi</label>
                            </div>
                            <select [(ngModel)]="sifat_materi" class="custom-select" (ngModelChange)="checkValue($event)" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="umum">Umum</option>
                                <option value="khusus" >Khusus</option>
                                <option value="rahasia">Rahasia</option>
                            </select>                                                
                        </div>
                        <div *ngIf="this.sifat_materi === 'khusus'|| this.sifat_materi === 'rahasia'">
                            <div *ngIf="materiRahasia" class="form-group" style="margin-top: 10px;">
                                <label>Tambah Responden</label>
                                <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Menambahkan Penerima Materi ...'" 
                                [data]="this.sifat_materi === 'khusus' ? dataUserKhusus : dataUserRahasia"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="this.disableButton === true" type="button" class="btn btn-success" (click)="this.unggahMateri()"><i class="fa fa-upload"></i>Unggah</button>
                        <button type="button" class="btn btn-danger" (click)="this.tutupModal()"><i class="fa fa-close"></i>Tutup</button>   
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>