<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Ubah Status Undangan</h2>
                <ul class="breadcrumb root_form">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home">
                            </i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">Form</li>
                    <li class="breadcrumb-item active tambah_user">Undangan</li>
                </ul>
            </div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="body">
                    <!-- <form #profileForm="ngForm" (ngSubmit)="onSubmit(profileForm.valid)"> -->
                    <form #profileForm="ngForm" (ngSubmit)="tambahUndangan()">
                        <div class="form-group">
                            <label>Berkas Undangan</label>
                            <input disabled [(ngModel)]="path_berkas_undangan" class="form-control" name="path_berkas_undangan" type="file" (change)="onFileSelected($event)">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Pimpinan Sidang</label>
                            </div>
                            <select disabled [(ngModel)]="pimpinan_sidang" class="custom-select" id="inputGroupSelect01" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option *ngFor="let obj of dataUser" [value]="obj.id_user">{{obj.nama_user}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Waktu Sidang</label>
                            <input [(ngModel)]="waktu_sidang" class="form-control" name="waktu_sidang" type="datetime-local" pattern="\d{4}-\d{2}-\d{2}" readonly>

                        </div>
                        <div class="form-group">
                            <label>Tema</label>
                            <input [(ngModel)]="tema" class="form-control" name="tema" readonly>

                        </div>
                        <div class="form-group">
                            <label>Lokasi</label>
                            <!-- <input type="text" class="form-control" required [(ngModel)]="lokasi" name="lokasi"> -->

                            <select disabled [(ngModel)]="lokasi" class="custom-select" id="inputGroupSelect01" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="Istana Negara">Istana Negara</option>
                                <option value="Istana Negara Konferensi Daring">Istana Negara Konferensi Daring </option>
                                <option value="Istana Bogor">Istana Bogor</option>
                                <option value="Istana Bogor Konferensi Daring">Istana Bogor Konferensi Daring</option>
                                <option value="Konferensi Daring">Konferensi Daring</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nomor Undangan</label>
                            <input [(ngModel)]="nomor_undangan" class="form-control" name="nomor_undangan" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Sifat</label>
                            </div>
                            <select disabled [(ngModel)]="sifat" class="custom-select" id="inputGroupSelect01" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="Segera">Segera</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Status</label>
                            </div>
                            <select [(ngModel)]="status" class="custom-select" id="inputGroupSelect01" [ngModelOptions]="{standalone: true}">
                                <!-- <option selected>Silahkan Pilih</option> -->
                                <option value="Terjadwal">Terjadwal</option>
                                <option value="Dimajukan">Dimajukan</option>
                                <option value="Dibatalkan">Dibatalkan</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="food">Penerima Undangan</label>
                            <br />
                            <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Daftarkan Penerima Undangan ...'" [data]="dataUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings">
                            </ng-multiselect-dropdown>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Buat Undangan dan Kirim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>