li.tambah_user {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_form {
    color: white !important;
}

h2.judul_form {
    color: white;
}

a.arrow_icon {
    color: white !important;
}

i.link_home {
    color: white !important;
}