<div class="container-fluid" *ngIf="!isResizing">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2><a href="javascript:void(0);" style="color : white !important" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
						<i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
						<i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
					</a> E-Charts</h2>
				<ul class="breadcrumb" style="color: white !important">
					<li class="breadcrumb-item"><a style="color: white !important"[routerLink]="['/admin']"><i style="color: white !important" class="icon-home"></i></a></li>
					<li class="breadcrumb-item">Charts</li>
					<li class="breadcrumb-item active" style="color: white !important">E-Charts</li>
				</ul>
			</div>
            <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span style="color: white !important">Visitors</span>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                    <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                    </div>
                    <span style="color: white !important">Visits</span>
                </div>
            </div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="header">
					<h2>Stacked Area Chart</h2>
				</div>
				<div class="body">
					<div echarts [options]="chartOptions"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>Pie Chart</h2>
				</div>
				<div class="body">
					<div echarts [options]="pieOptions"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="card">
				<div class="header">
					<h2>Punch Card</h2>
				</div>
				<div class="body">
					<div echarts [options]="punchCardOptions"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12">
			<div class="card">
				<div class="header">
					<h2>Large scale area chart</h2>
				</div>
				<div class="body">
					<div echarts [options]="LargeAreaOptions"></div>
				</div>
			</div>
		</div>
	</div>
</div>