<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Laporan Pengantar Presiden</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Laporan
                        Pengantar Presiden</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-spin-clockwise"
                >
                <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                </ngx-spinner>
                <div class="p-3">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group mt-3" >
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Lokasi</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect01" 
                                (change)="changeRisalah($event)">
                                    <option selected disabled="disabled">--Pilih Lokasi--</option>
                                    <option [value]="">Semua Lokasi</option>
                                    <option *ngFor="let lokasi of this.dataLokasi" [value]="lokasi.nama_lokasi">{{lokasi.nama_lokasi}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Jenis Sidang</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect02" 
                                (change)="changeRisalah($event)">
                                    <option selected disabled="disabled">--Pilih Jenis Sidang--</option>
                                    <option [value]="">Semua Jenis Sidang</option>
                                    <option *ngFor="let sidang of this.dataJenisSidang" [value]="sidang.id_jenis_sidang">{{sidang.nama_sidang}}</option>
                                </select>
                            </div>        
                        </div>

                        <div class="col-lg-4">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Status Pengantar</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect03" 
                                (change)="changeRisalah($event)">
                                    <option selected disabled="disabled">--Pilih Status Pengantar Presiden--</option>
                                    <option [value]="">Semua Status Pengantar</option>
                                    <option [value]="1">Distribusi</option>
                                    <option [value]="0">Tidak Distribusi</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Cari Topik Sidang</label>
                                </div>
                                <input [(ngModel)]="searchLaporanTopikRisalah" type="text"
                                        class="form-control" placeholder="Cari Topik Sidang">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Cari Penyimpanan Arsip</label>
                                </div>
                                <input 
                                id="inputGroupSelect04"
                                (ngModelChange)="changeRisalah($event)"
                                [(ngModel)]="penyimpanan_arsip"
                                [ngModelOptions]="{standalone: true}"
                                type="text"
                                class="form-control" 
                                placeholder="Cari Penyimpanan Arsip">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Waktu Sidang Awal</label>
                                </div>
                                <input 
                                (ngModelChange)="changeRisalah($event)" 
                                class="form-control" 
                                placeholder="Masukkan Tanggal Awal Sidang" 
                                [owlDateTimeTrigger]="dt1" 
                                [owlDateTime]="dt1"
                                [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="waktu_awal_sidang"
                                >
                                <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group mt-3">                       
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Waktu Sidang Akhir</label>
                                </div>
                                <input 
                                [disabled]="this.waktu_awal_sidang === undefined || this.waktu_awal_sidang === '' ? true : null"
                                (ngModelChange)="changeRisalah($event)" 
                                class="form-control" 
                                placeholder="Masukkan Tanggal Akhir Sidang" 
                                [owlDateTimeTrigger]="dt2" 
                                [owlDateTime]="dt2"
                                [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="waktu_akhir_sidang"
                                >
                                <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
                            </div>
                        </div>
                    </div>
                
                </div>

                <div class="pl-3" >
                    <button [disabled]="this.hasilRisalah.length === 0 || this.hasilRisalah === 'no data found'" class="btn btn-success" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o">&nbsp;</i>Ekspor Laporan xlsx</button>
                    <button [disabled]="this.hasilRisalah.length === 0 || this.hasilRisalah === 'no data found'" class="btn btn-primary ml-2 btn-pdf" (click)="exportAsPDF()"> <i class="fa fa-file-pdf-o">&nbsp;</i>Ekspor Laporan pdf</button>
                    <button class="btn btn-danger ml-2 btn-watermark" (click)="cariWatermark(watermarkModal)"><i class="fa fa-search">&nbsp;</i>Cari Watermark</button>
                </div>

                <ng-template #watermarkModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title">Detail Cari Watermark</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text"><i class="fa fa-search pr-2" aria-hidden="true"></i></label>
                            </div>
                            <input 
                            [(ngModel)]="searchWatermark" 
                            (ngModelChange)="changeWatermark($event)"
                            type="text"
                            class="form-control" 
                            placeholder="Masukkan Kode Watermark">
                        </div>

                        <div class="mt-4" *ngIf="cariWatermarkRes === 'no data found'">
                            <p style="text-align: center;">---Kode Watermark Tersebut Tidak Ditemukan---</p>
                        </div>

                        <div class="mt-4" *ngIf="cariWatermarkRes !== 'no data found'">

                            <div *ngFor="let item of this.cariWatermarkMap">

                                <div class="form-group">
                                    <p style="text-align: center; font-weight: bold;">Kode Watermark : {{item.kode_watermark}}</p>
                                    <hr>
                                    <!-- <p style="text-align: center;">{{item.kode_watermark}}</p> -->
                                </div>
    
                                <div class="row">
        
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nama Pengguna</label>
                                            <input type="text" class="form-control" id="nama_user" disabled [(ngModel)]="item.nama_user" name="nama_user">
                                        </div>
                                        <div class="form-group">
                                            <label>Tema Sidang</label>
                                            <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                                        </div>
                                        <div class="form-group">
                                            <label>Tanggal Sidang</label>
                                            <input type="text" class="form-control" id="tanggal_sidang" disabled [(ngModel)]="item.tanggal_sidang" name="tanggal_sidang">
                                        </div>
                                        <div class="form-group">
                                            <label>Status Risalah</label>
                                            <input type="text" class="form-control" id="status_risalah" disabled [ngModel]="item.status_risalah === '1' ? 'Distribusi' : 'Tidak Distribusi'" name="status_risalah">
                                        </div>
                                        
                                    </div>    
        
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Jabatan</label>
                                            <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                                        </div>
                                        <div class="form-group">
                                            <label>Lokasi</label>
                                            <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi" name="lokasi">
                                        </div>
                                        <div class="form-group">
                                            <label>Jam Undangan</label>
                                            <input type="text" class="form-control" id="jam_undangan" disabled [(ngModel)]="item.jam_undangan" name="jam_undangan">
                                        </div>
                                        <div class="form-group">
                                            <label>Waktu Distribusi</label>
                                            <input type="text" class="form-control" id="waktu_distribusi" disabled [(ngModel)]="item.waktu_distribusi" name="waktu_distribusi">
                                        </div>
                                        
                                    </div>
        
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unduh</label>
                                            <input type="text" class="form-control" id="counter_download" disabled [(ngModel)]="item.counter_download" name="counter_download">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Lihat</label>
                                            <input type="text" class="form-control" id="counter_view" disabled [(ngModel)]="item.counter_view" name="counter_view">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Cetak</label>
                                            <input type="text" class="form-control" id="counter_print" disabled [(ngModel)]="item.counter_print" name="counter_print">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>
                </ng-template>


                <div class="body table-responsive userData">
                    <table class="table" *ngIf="this.hasilRisalah.length === 0; else no_data_found">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>JENIS SIDANG</th>
                                <th>WAKTU SIDANG (UNDANGAN)</th>
                                <th>WAKTU MULAI SIDANG</th>
                                <th>LOKASI</th>
                                <th>TOPIK SIDANG</th>
                                <th>STATUS PENGANTAR</th>
                                <th>NO. PENGANTAR</th>
                                <th>PENYIMPANAN ARSIP</th>
                                <th>TANGGAL PENGANTAR</th>
                                <th>WAKTU DISTRIBUSI</th>
                                <th>FILE PENGANTAR</th>
                                <th>JUMLAH PENERIMA</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td colspan="12" style="text-align: center;">---Silahkan Lakukan Filter Terlebih Dahulu---</td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #no_data_found>
                        <table class="table"  *ngIf="this.hasilRisalah === 'no data found'; else data_found">
                            <thead class="thead-dark">
                                <tr>
                                    <th>NO.</th>
                                    <th>JENIS SIDANG</th>
                                    <th>WAKTU SIDANG (UNDANGAN)</th>
                                    <th>WAKTU MULAI SIDANG</th>
                                    <th>LOKASI</th>
                                    <th>TOPIK SIDANG</th>
                                    <th>STATUS PENGANTAR</th>
                                    <th>NO. PENGANTAR</th>
                                    <th>PENYIMPANAN ARSIP</th>
                                    <th>TANGGAL PENGANTAR</th>
                                    <th>WAKTU DISTRIBUSI</th>
                                    <th>FILE PENGANTAR</th>
                                    <th>JUMLAH PENERIMA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="12" style="text-align: center;">---Data Belum Tersedia---</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template>

                    <ng-template #data_found>
                        <div id="laporanRisalah">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>NO.</th>
                                        <th>JENIS SIDANG</th>
                                        <th>WAKTU SIDANG (UNDANGAN)</th>
                                        <th>WAKTU MULAI SIDANG</th>
                                        <th>LOKASI</th>
                                        <th>TOPIK SIDANG</th>
                                        <th>STATUS PENGANTAR</th>
                                        <th>NO. PENGANTAR</th>
                                        <th>PENYIMPANAN ARSIP</th>
                                        <th>TANGGAL PENGANTAR</th>
                                        <th>WAKTU DISTRIBUSI</th>
                                        <th>FILE PENGANTAR</th>
                                        <th>JUMLAH PENERIMA</th>
                                        <th>AKSI</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.hasilRisalahMap | filter: searchLaporanTopikRisalah | filter: searchLaporanArsipRisalah | paginate: {id:'5', itemsPerPage: 10, currentPage: p } ; let ndx= index ;">
                                        <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                        <td>{{item.Nama_Sidang}}</td>
                                        <td>{{item.Waktu_Sidang_Undangan}}</td>
                                        <td>{{item.Waktu_Mulai_Sidang}}</td>
                                        <td>{{item.Lokasi}}</td>
                                        <td>{{item.Tema}}</td>
                                        <td>{{item.Status_Risalah}}</td>
                                        <td>{{item.Nomor_Risalah}}</td>
                                        <td>{{item.Penyimpanan_Arsip}}</td>
                                        <td>{{item.Tanggal_Risalah}}</td>
                                        <td>{{item.Waktu_Distribusi}}</td>
                                        <td>{{item.Nama_File}}</td>
                                        <td>{{item.Jumlah_Penerima}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <i class="fa fa-bars"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="open(item.Id_Risalah,mymodal)">
                                                        Detail Laporan
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                    </ng-template>

                    <ng-template #mymodal let-modal>
                        <div class="modal-header">
                            <h5 class="modal-title">Detail Laporan</h5>
                        </div>
                        <div class="modal-body">
                            <div class="body table-responsive penerima-undangan">
                                <table class="table table-striped table-penerima">
                                    <thead>
                                        <tr>
                                            <th>NO.</th>
                                            <th>JABATAN</th>
                                            <th>NAMA PENERIMA</th>
                                            <th>KODE WATERMARK</th>
                                            <th>UNDUH</th>
                                            <th>CETAK</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="this.detailLaporan === 'no data found' ">
                                        <tr class="table-secondary">
                                            <td colspan="6" style="text-align: center;">Data responden belum tersedia</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="this.detailLaporan !== 'no data found' ">
                                        <tr *ngFor="let item of this.detailLaporan,let ndx= index">
                                            <td scope="row">{{ndx+1}}</td>
                                            <td>{{item.nama_jabatan}}</td>
                                            <td>{{item.nama_user}}</td>
                                            <td>{{item.kode_watermark === '' ? 'Tidak Ada Watermark' : item.kode_watermark}}</td>
                                            <td>{{item.counter_download}}</td>
                                            <td>{{item.counter_print}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>