<div class="container-fluid">
  <div class="block-header">
    <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-12">                        
            <h2><a href="javascript:void(0);" style="color : white !important" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="toggleFullWidth()">
                <i class="fa fa-arrow-left" *ngIf="sidebarVisible"></i>
                <i class="fa fa-arrow-right" *ngIf="!sidebarVisible"></i>
            </a> Progressbar</h2>
            <ul class="breadcrumb" style="color: white !important">
                <li class="breadcrumb-item"><a style="color: white !important"[routerLink]="['/admin']"><i style="color: white !important" class="icon-home"></i></a></li>                            
                <li class="breadcrumb-item">UI Elements</li>
                <li class="breadcrumb-item active" style="color: white !important">Progressbar</li>
            </ul>
        </div>            
        <div class="col-lg-7 col-md-4 col-sm-12 text-right">
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                <div echarts [options]="visitorsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                </div>
                <span style="color: white !important">Visitors</span>
            </div>
            <div class="inlineblock text-center m-r-15 m-l-15 hidden-sm pt-2">
                <div echarts [options]="visitsOptions" class="echart-line-chart" [autoResize]="true" style="height: 20px;">
                </div>
                <span style="color: white !important">Visits</span>
            </div>
        </div>
    </div>
  </div>

  <div class="row clearfix">

        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Default Progress Bars</h2>
                </div>
                <div class="body">
                    <p><ngb-progressbar [value]="25" height="20px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="warning" [value]="46" height="20px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="success" [value]="60" height="20px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="danger" [value]="12" height="20px"></ngb-progressbar></p>
                    <hr>
                    <h6>Sizes</h6>
                    <p><ngb-progressbar [value]="89" height="5px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="warning" [value]="12" height="12px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="success" [value]="78" height="20px"></ngb-progressbar></p>
                    <p><ngb-progressbar type="danger" [value]="55" height="28px"></ngb-progressbar></p>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h2>Progress Bars <small>Progress Bars based on Bootstrap-Progressbar plugin</small></h2>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h6>Percentage Format</h6>
                            <p><ngb-progressbar showValue="true" [value]="25" height="20px"></ngb-progressbar></p>
                            <h6>Number Format</h6>
                            <p><ngb-progressbar [value]="41" height="20px"><b>41 / 100</b></ngb-progressbar></p>
                            <h6>Custom Format</h6>
                            <p><ngb-progressbar [value]="77" height="20px"><b>77 of 100</b></ngb-progressbar></p>
                            <hr>
                            <h6>Other Styles</h6>
                            <p><ngb-progressbar type="warning" showValue="true" [striped]="true" [value]="43" height="20px"></ngb-progressbar></p>
                            <p><ngb-progressbar type="danger" showValue="true" [striped]="true" [value]="67" [animated]="true" height="20px"></ngb-progressbar></p>
                            <p><ngb-progressbar type="success" [striped]="true" [value]="45" [animated]="true" height="20px"></ngb-progressbar></p>
                        </div>
                    </div>
                </div>                       
            </div>
        </div>

  </div>

</div>