<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Unduh Aplikasi</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item" style="color: white;">List</li>
                    <li class="breadcrumb-item active downloadApp">Unduh Aplikasi</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="row no-gutters" style="padding: 10px;">
                    <div class="col-md-2">
                        <img src="../assets/images/apple.png" class="card-img" style="margin-top: 30px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 5px;">E-kabinet</h5>
                            <p class="card-text" style="margin-bottom: 1px;"> <small class="text-muted" style="font-weight: bold;">Tautan
                    Unduh
                    Aplikasi iOS E-Kabinet</small></p>
                            <p class="card-text" style="margin-bottom: 10px;"> <small class="text-muted">Klik tombol dibawah ini untuk
                    mengunduh
                    aplikasi iOS E-Kabinet</small></p>
                            <a href="itms-services://?action=download-manifest&url=https://ekabinet.setkab.go.id/e-kabinet.plist" id="text" class="btn btn-primary btn-sm"><i class="fa fa-download"></i>&nbsp;Unduh</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="row no-gutters" style="padding: 10px;">
                    <div class="col-md-2">
                        <img src="../assets/images/android.png" class="card-img" style="margin-top: 30px;">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-bottom: 5px;">E-kabinet</h5>
                            <p class="card-text" style="margin-bottom: 1px;"> <small class="text-muted" style="font-weight: bold;">Tautan
                    Unduh
                    Aplikasi Android E-Kabinet</small></p>
                            <p class="card-text" style="margin-bottom: 10px;"> <small class="text-muted">Klik tombol dibawah ini untuk
                    mengunduh
                    aplikasi Android E-Kabinet</small></p>
                            <a href="https://ekabinet.setkab.go.id/e-kabinet.apk" id="text" class="btn btn-primary btn-sm"><i class="fa fa-download"></i>&nbsp;Unduh</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>

</div>