n.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
  .openbtn:hover {
    background-color: #444;
}
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar {
    margin-top: 0px !important;
}

@media (max-width: 1200px) {
    .sidebar {
        /* margin-top: 50px !important; */
        z-index: 1600 !important;
    }
}

@media (min-width: 1201px) {
    .close-sidebar {
        display: none;
        /* z-index: 1600 !important; */
    }
}