<!-- <div id="main">
    <button class="openbtn"  (click)="toggleClick()">☰ Open Sidebar</button>
</div> -->
<div
    #sidebar
    id="left-sidebar"
    class="sidebar"
    *ngIf="sidebarVisible"
    style="position: fixed;overflow-y:scroll;background:
    url(../../assets/images/Asset7_2.jpg);background-repeat:
    no-repeat;background-size: cover;margin-left: -5px !important;">
    <div class="sidebar-scroll" style="margin-top: 0px !important;">
        <button class="close-sidebar" (click)="closeClick()" style="margin-top: -20px;float: right;background-color: transparent; color: white;">X</button>
        <div class="user-account">
            <!-- <a [routerLink]="['/admin']"> -->
                <p style="font-size: 30px;color: white;"><b>E-Kabinet</b></p>
            <!-- </a> -->
        </div>

        <!-- Tab panes -->
        <!-- Super Admin -->
        <div class="tab-content p-l-0 p-r-0">
            <div class="tab-pane" id="menu" [ngClass]="{'active':navTab ==
                'menu' || !navTab}">
                <nav id="left-sidebar-nav" class="sidebar-nav">
                    <ul id="main-menu" class="metismenu" style="z-index: 1500">
                        <!-- SUPER ADMIN -->

                        <li *ngIf="this.nama_role === 'Super Admin'">
                            <a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i><span>Dashboard</span></a>
                            <a [routerLink]="[ '/admin/list/list-pengguna'] "><i class="icon-users " style="color: white; "></i><span>Akses Pengguna</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/forms/forms-tambah-pengguna'] ">Tambah Pengguna</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-ubah-data-pengguna'] ">Ubah Data Pengguna</a>
                                </li>
                            </ul>
                            <a [routerLink]="['/admin/list/list-undangan']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/forms/forms-tambah-undangan'] ">Buat Undangan</a>
                                </li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/admin/list/list-denah']">Unggah Denah</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-tambah-responden-undangan'] ">Tambah Responden Undangan</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-materi'] "><i class="icon-envelope-letter "></i> <span>Akses Materi</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-materi'] ">Unggah Materi</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-kirim-materi'] ">Kirim Materi</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-risalah'] "><i class="icon-envelope-letter "></i><span>Akses Pengantar Presiden</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-kirim-risalah'] ">Buat Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-tambah-responden-risalah'] ">Tambah Responden Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-ubah-risalah'] ">Ubah Data Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-laporan-risalah'] ">Laporan Pengantar Presiden</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-survey/'] "><i class="icon-note"></i><span>Master Survey</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-kirim-survey'] ">Kirim Survey</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-laporan-survey'] ">Laporan Survey</a>
                                </li>
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-master-data'] "><i class="icon-folder "></i> <span>Master Data</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-jenis-sidang'] ">Jenis Sidang</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-lokasi'] ">Lokasi</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-jabatan'] ">Jabatan</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-group'] ">Grup</a>
                                </li>
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END SUPER ADMIN -->

                        <!-- ADMIN SIDANG -->

                        <li *ngIf="this.nama_role === 'Admin Sidang'">
                            <a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i><span>Dashboard</span></a>
                            <a [routerLink]="['/admin/list/list-undangan']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <ul>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/admin/forms/forms-tambah-undangan']">Buat Undangan</a>
                                </li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/admin/list/list-denah']">Unggah Denah</a>
                                </li>
                                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <a [routerLink]="['/admin/list/list-tambah-responden-undangan']">Tambah Responden Undangan</a>
                                </li>
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                            <!-- <a [routerLink]="['/admin/list/list-kirim-materi']"><i class="icon-envelope-letter"></i><span>Kirim Materi</span></a> -->
                        </li>

                        <!-- END ADMIN SIDANG -->

                        <!-- ADMIN MATERI -->

                        <li *ngIf="this.nama_role === 'Admin Materi'">
                            <a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i><span>Dashboard</span></a>
                            <a [routerLink]="[ '/admin/list/list-materi'] "><i class="icon-envelope-letter "></i> <span>Akses Materi</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-materi'] ">Unggah Materi</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-kirim-materi'] ">Kirim Materi</a>
                                </li>
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END ADMIN MATERI -->

                        <!-- ADMIN RISALAH -->

                        <li *ngIf="this.nama_role === 'Admin Risalah'">
                            <a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i><span>Dashboard</span></a>
                            <a [routerLink]="[ '/admin/list/list-risalah'] "><i class="icon-envelope-letter "></i><span>Akses Pengantar Presiden</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-kirim-risalah'] ">Buat Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-tambah-responden-risalah'] ">Tambah Responden Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-ubah-risalah'] ">Ubah Data Pengantar Presiden</a>
                                </li>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="['/admin/list/list-laporan-risalah'] ">Laporan Pengantar Presiden</a>
                                </li>
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END ADMIN RISALAH -->

                        <!-- USER TIPE 1 -->

                        <li *ngIf="this.nama_role === 'User Tipe 1'">
                            <a [routerLink]="['/admin/dashboard/index']"><i class="icon-home"></i><span>Dashboard</span></a>
                            <a [routerLink]="['/admin/list/list-undangan-user']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <a [routerLink]="[ '/admin/list/list-daftar-materi'] "><i class="icon-envelope-letter "></i><span>Akses Materi</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-materi'] ">Unggah Materi</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-risalah-user'] "><i class="icon-envelope-letter "></i>Akses Pengantar Presiden</a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="['/admin/list/list-laporan-risalah'] ">Laporan Pengantar Presiden</a>
                                </li>                       
                            </ul>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END USER TIPE 1 -->

                        <!-- USER TIPE 2 -->

                        <li *ngIf="this.nama_role ==='User Tipe 2'">
                            <a [routerLink]="[ '/admin/list/list-undangan-user']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>

                            <a [routerLink]="['/admin/list/list-daftar-materi'] "><i class="icon-envelope-letter "></i><span>Akses Materi</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-materi'] ">Unggah Materi</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-risalah-user'] "><i class="icon-envelope-letter "></i>Akses Pengantar Presiden</a>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END USER TIPE 2 -->

                        <!-- USER TIPE 3 -->

                        <li *ngIf="this.nama_role ==='User Tipe 3'">
                            <a [routerLink]="['/admin/list/list-undangan-user']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <a [routerLink]="['/admin/list/list-daftar-materi'] "><i class="icon-envelope-letter "></i><span>Akses Materi</span></a>
                            <ul>
                                <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                    <a [routerLink]="[ '/admin/list/list-unggah-materi'] ">Unggah Materi</a>
                                </li>
                            </ul>
                            <a [routerLink]="[ '/admin/list/list-risalah-user'] "><i class="icon-envelope-letter "></i>Akses Pengantar Presiden</a>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END USER TIPE 3 -->

                        <!-- USER TIPE 4 -->

                        <li *ngIf="this.nama_role ==='User Tipe 4'">
                            <a [routerLink]="['/admin/list/list-undangan-user']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END USER TIPE 4 -->

                        <!-- USER TIPE 5 -->

                        <li *ngIf="this.nama_role ==='User Tipe 5'">
                            <a [routerLink]="['/admin/list/list-undangan-user']"><i class="icon-envelope-letter"></i><span>Akses Undangan</span></a>
                            <a (click)="activeInactiveMenu( 'list') " [routerLink]="[ '/admin/list/list-download-aplikasi'] "><i class="icon-cloud-download "></i> <span>Unduh Aplikasi</span></a>
                        </li>

                        <!-- END USER TIPE 5 -->                     
                    </ul>
                </nav>
            </div>
            
        </div>

    </div>
</div>
