<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Daftar Pengguna</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar Pengguna</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchUser" (ngModelChange)="onSearchUser($event)" type="text" class="form-control" placeholder="Cari Pengguna">
                    </div>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>USERNAME</th>
                                <th>NAMA LENGKAP</th>
                                <th>JABATAN</th>
                                <th>PERAN</th>
                                <th>GRUP</th>
                                <th>KODE USER</th>
                                <th>TANGGAL DAFTAR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of this.dataUser | filter:searchUser | paginate: { id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.nama_user}}</td>
                                <td>{{item.nama_jabatan}}</td>
                                <td>{{item.nama_role}}</td>
                                <td>{{item.nama_group}}</td>
                                <td>{{item.kode_user}}</td>
                                <td>{{item.format_tanggal}}</td>
                            </tr>

                        </tbody>
                    </table>

                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>