li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}