li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-header{     
    justify-content: center;     
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

#preview {
    margin-top: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.7);
    padding: 1rem;
    position: relative;
}

#preview::before {
    /* content: 'Hasil Unggah Foto'; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}
table .risalahKosong {
    background-color:#7ecfc9;
}
table .tidakDistribusi {
    background-color:  #eae4e9;
}
div .infoTable{
    margin: inherit;
    color: black;
}
div .infoBtnRisalah{
   background-color:#7ecfc9;
    border-color:#7ecfc9;
    pointer-events: none;
}
div .infoBtnStatus {
    background-color:  #eae4e9;
    border-color:  #eae4e9;
    pointer-events: none;
}
table .statisWidth {
    width: 15%;
}

.modal-xl {
    max-width: 1000px;
}

.dateTime {
    width: 15%;
}

.kirim {
    width: 10%;
}

::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 1200 !important;
}


  
