<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Undangan</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar
                        Undangan</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchRisalah" (ngModelChange)="onSearchRisalah($event)" type="text"
                            class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                        <button type="button" class="btn btn-primary disabled
                            infoBtnRisalah"></button>
                        <h6 class="infoTable">Pengantar Presiden Belum Diunggah</h6>
                    </div>
                    <div class="row ml-1" style="margin-top: 2px;">
                        <button type="button" class="btn btn-primary disabled
                            infoBtnStatus"></button>
                        <h6 class="infoTable">Pengantar Presiden Tidak Distribusi</h6>
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th>JENIS SIDANG</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan |
                                filter:searchRisalah | paginate: {id:'5',
                                itemsPerPage: 10,
                                currentPage: p } ; let ndx= index ;" [ngClass]="{risalahKosong:
                                item.nomor_risalah === null,tidakDistribusi:item.status_risalah === '0'}">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.nama_sidang}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-success" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="alertConfirmation(item.id_undangan,risalahModal)"
                                                [class.disabled]="item.nomor_risalah
                                                === null ? true: null">
                                                Lihat Pengantar Presiden
                                            </a>

                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="open(item.id_undangan,mymodal)" [class.disabled]="item.nomor_risalah
                                                === null || item.status_risalah ==='0' ? true: null">
                                                Detail Pengantar Presiden
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="openRisalahOffline(item.id_undangan,risalahOffline)" [class.disabled]="item.nomor_risalah === null || item.sts_offline === '1' ? true : null">
                                                Buat Pengantar Presiden Offline
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="detailRisalahOffline(item, item.id_undangan,detailRisalah)" [class.disabled]="item.nomor_risalah === null || item.sts_offline !== '1' ? true : null">
                                                Detail Pengantar Presiden Offline
                                            </a>
                                            <!-- <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="open(item.id_undangan,modalTracking)" [class.disabled]="item.nomor_risalah
                                                === null || item.status_risalah ==='0' ? true: null">
                                                Pelacakan Pengantar Presiden
                                            </a> -->

                                            <!-- Tracking risalah -->
                                            <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="open(item.id_undangan,risalahTracking)" [class.disabled]="item.nomor_risalah
                                            === null || item.status_risalah ==='0' ? true: null ">
                                            Distribusi Risalah
                                            </a> -->
                                            <!-- end tracking risalah -->

                                            <!-- Tracking risalah -->
                                            <a class="dropdown-item" href="javascript:void(0);" (click)="open(item.id_undangan,risalahTrackingV2)" [class.disabled]="item.nomor_risalah
                                            === null || item.status_risalah ==='0' ? true: null ">
                                            Distribusi Risalah 
                                            </a>
                                            <!-- end tracking risalah -->

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>

            <ng-template #risalahModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                </div>
                <div class="modal-body" *ngFor="let item of
                    this.risalahById2">
                    <form #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <!-- <pdf-viewer  *ngIf ="isLoadingPdf === false"  [src]="pdfSrc" [render-text]="false" style="display: block;"></pdf-viewer> -->
                                    <!-- <embed [src]="pdfSrc | safe: 'url' " style="width: 100%;height: 500px" type="application/pdf"> -->
                                    <iframe #iframe [src]="pdfSrc" frameborder="0" style="width:
                                        100%;height: 500px"></iframe>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a [href]="pdfSrc" target="__blank" download (click)="counterDownload()" class="btn btn-success"
                        style="color: white;"><i class="fa fa-download"></i>Unduh</a>
                    <a [href]="pdfPrint" target="__blank" print (click)="counterPrint()" class="btn btn-primary" style="color:
                        white;"><i class="fa fa-print"></i>Cetak</a>
                    <button type="button" class="btn btn-danger" (click)="modal.close(
                        'Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')">Tutup</button> -->
                </div>
            </ng-template>

            <ng-template #risalahOffline let-modal>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                </ngx-spinner>
                <div class="modal-header">
                    <h5 class="modal-title">Pengantar Presiden Offline</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.undanganById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Jenis Sidang</label>
                                <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                            </div>
                            <div class="form-group">
                                <label for="name">Pimpinan Sidang</label>
                                <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tema Sidang</label>
                                <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                            </div>
                            <div class="form-group">
                                <label for="name">Sifat Sidang</label>
                                <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="item.sifat" name="sifat">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Lokasi Sidang</label>
                                <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi" name="lokasi">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Pembuatan Undangan</label>
                                <input type="text" class="form-control" id="create_date_formated" disabled [(ngModel)]="item.create_date_formated" name="create_date_formated">
                            </div>
                            <div class="form-group">
                                <label for="name">Nomor Undangan</label>
                                <input type="text" class="form-control" id="nomor_undangan" disabled [(ngModel)]="item.nomor_undangan" name="nomor_undangan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Sidang</label>
                                <input type="text" class="form-control" id="waktu_sidang_formated" disabled [(ngModel)]="item.waktu_sidang_formated" name="waktu_sidang_formated">
                            </div>
                        </div>
                    </div>
                    <!-- <hr>
                    <h5 style="text-align: center;">Penerima Risalah</h5>
                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>JABATAN</th>
                                    <th>NAMA PENERIMA</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.notifRisalahById === 'no data found' ">
                                <tr class="table-secondary">
                                    <td colspan="4" style="text-align: center;">Data responden belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.notifRisalahById !== 'no data found' ">
                                <tr *ngFor="let item of this.notifRisalahById,let ndx = index">
                                    <th scope="row">{{ndx+1}}</th>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->
                    <form #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="food">Penerima Pengantar Presiden Offline</label>
                                    <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel" [placeholder]="'Silahkan Menambahkan Penerima Pengantar Presiden ...'" [data]="dataUser" [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" *ngIf="isLoadingRisalah === false" class="btn btn-success" type="submit" (click)="this.createRisalahOffline()"><i class="fa fa-send-o">&nbsp;</i>Buat Pengantar Presiden</button>
                    <!-- <button *ngIf="isLoadingRisalah === true" disabled type="button" class="btn btn-primary"><i
                        class="fa fa-spinner"></i></button> -->
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>

            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Pengantar Presiden</h5>
                </div>
                <div class="modal-body" *ngFor="let item of
                    this.risalahById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nomor Pengantar Presiden</label>
                                <input type="text" class="form-control" id="nomor_risalah" disabled
                                    [(ngModel)]="item.nomor_risalah" name="nomor_risalah">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Jam Mulai Sidang</label>
                                        <input type="text" class="form-control" id="jam_mulai_sidang" disabled
                                            [(ngModel)]="item.jam_mulai_sidang" name="jam_mulai_sidang">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zona Waktu</label>
                                        <input type="text" class="form-control" id="zona_waktu" disabled
                                            [(ngModel)]="item.zona_waktu" name="zona_waktu">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group" *ngIf="item.status_risalah == 1">
                                <label for="name">Status Risalah</label>
                                <div type="text" class="form-control" id="status_risalah" disabled
                                    name="status_risalah">Distribusi
                                </div>
                            </div>
                            <div class="form-group" *ngIf="item.status_risalah == 0">
                                <label for="name">Status Risalah</label>
                                <div type="text" class="form-control" id="status_risalah" disabled
                                    name="status_risalah">Tidak Distribusi
                                </div>
                            </div> -->
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Tanggal TTD Pengantar Presiden</label>
                                <input type="text" class="form-control" id="tanggal_ttd_risalah" disabled
                                    [(ngModel)]="item.tanggal_ttd_risalah" name="tanggal_ttd_risalah">
                            </div>
                            <div class="form-group">
                                <label for="name">Penyimpanan Arsip</label>
                                <input type="text" class="form-control" id="penyimpanan_arsip" disabled
                                    [(ngModel)]="item.penyimpanan_arsip" name="penyimpanan_arsip">
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h5 style="text-align: center; margin-bottom: 10px;">Penerima
                        Pengantar Presiden</h5>
                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>JABATAN</th>
                                    <th>NAMA PENERIMA</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.notifRisalahById === 'no data found'">
                                <tr class="table-secondary">
                                    <td colspan="4" style="text-align:
                                        center;">Data responden pengantar presiden
                                        belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.detailTracking !== 'no data
                                found'">
                                <tr *ngFor="let item of
                                    this.detailTracking,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>

            <ng-template #detailRisalah let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Pengantar Presiden Offline</h5>
                </div>
                <div class="modal-body">
                    <!-- <h5 style="text-align: center; margin-bottom: 10px;">Penerima Risalah</h5> -->
                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>NO.</th>
                                    <th>JABATAN</th>
                                    <th>NAMA PENERIMA</th>
                                    <th>KODE WATERMARK</th>
                                    <th>AKSI</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.detailRisalahOff === 'no data found'">
                                <tr class="table-secondary">
                                    <td colspan="5" style="text-align: center;">Data belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.detailRisalahOff !== 'no data found'">
                                <tr *ngFor="let item of this.detailRisalahOff,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                    <td>{{item.kode_watermark}}</td>
                                    <!-- <td>{{item.link_risalah}}</td> -->
                                    <td>
                                        <!-- <button type="button" target="__blank" download class="btn btn-danger" (click)="downloadRisalah(item.link_risalah)"><i class="fa fa-download"></i>Unduh</button> -->
                                        <a [href]="pdfSrc" target="__blank" download (click)="downloadRisalah(item.link_risalah)" class="btn btn-success"
                                        style="color: white;"><i class="fa fa-download"></i>Unduh</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
            
            <!-- tracking risalah -->

            <ng-template #risalahTracking let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Distribusi Risalah</h5>
                </div>
                <div class="modal-body" *ngFor="let item of
                    this.risalahById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nomor Risalah</label>
                                <input type="text" class="form-control" id="nomor_risalah" disabled [(ngModel)]="item.nomor_risalah" name="nomor_risalah">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Jam Mulai Sidang</label>
                                        <input type="text" class="form-control" id="jam_mulai_sidang" disabled [(ngModel)]="item.jam_mulai_sidang" name="jam_mulai_sidang">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zona Waktu</label>
                                        <input type="text" class="form-control" id="zona_waktu" disabled [(ngModel)]="item.zona_waktu" name="zona_waktu">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Tanggal TTD Risalah</label>
                                <input type="text" class="form-control" id="tanggal_ttd_risalah" disabled [(ngModel)]="item.tanggal_ttd_risalah" name="tanggal_ttd_risalah">
                            </div>
                            <div class="form-group">
                                <label for="name">Penyimpanan Arsip</label>
                                <input type="text" class="form-control" id="penyimpanan_arsip" disabled [(ngModel)]="item.penyimpanan_arsip" name="penyimpanan_arsip">
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h5 style="text-align: center; margin-bottom: 10px;">Penerima Risalah
                    </h5>

                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Jabatan</th>
                                    <th>Penerima</th>
                                    <th>Pengiriman</th>
                                    <th>Tgl dan Waktu</th>
                                    <th>Alamat</th>
                                    <th>Catatan</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.notifRisalahById === 'no data found'">
                                <tr class="table-secondary">
                                    <td colspan="4" style="text-align:
                                        center;">Data responden risalah belum tersedia</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="this.notifRisalahById !== 'no data
                                found'">
                                <tr *ngFor="let item of this.notifRisalahById,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item.nama_jabatan}}</td>
                                    <td>{{item.nama_user}}</td>
                                    <td class="kirim">
                                        <input type="checkbox" id="pos" name="pos" (change)="onChangePengiriman($event, item, 'pos')" [value]="item.metode_pengiriman_pos">
                                        <label>&nbsp;Pos</label><br>
                                        <input type="checkbox" id="email" name="email" (change)="onChangePengiriman($event, item, 'email')" [value]="item.metode_pengiriman_email">
                                        <label>&nbsp;Email</label><br>
                                        <input type="checkbox" id="langsung" name="langsung" (change)="onChangePengiriman($event, item, 'langsung')" [value]="item.metode_pengiriman_langsung">
                                        <label>&nbsp;Langsung</label>
                                    </td>
                                    <td class="dateTime">
                                        <input [disabled]="item.metode_pengiriman_pos === false" class="form-control" placeholder="POS" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="item.tanggal_pos">
                                        <owl-date-time #dt1></owl-date-time>
                                        <input [disabled]="item.metode_pengiriman_email === false" class="form-control" placeholder="Email" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="item.tanggal_email">
                                        <owl-date-time #dt2></owl-date-time>
                                        <input [disabled]="item.metode_pengiriman_langsung === false" class="form-control" placeholder="Langsung" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="item.tanggal_langsung">
                                        <owl-date-time #dt3></owl-date-time>
                                    </td>
                                    <td>
                                        <textarea [disabled]="item.metode_pengiriman_pos === false" id="{{item.id_user}}" name="{{alamat_pos+'_'+ndx+item.id_user}}" rows="3" cols="30" placeholder="alamat pos" [(ngModel)]="item.alamat_pos"></textarea>
                                        <textarea [disabled]="item.metode_pengiriman_email === false" id="{{item.id_user}}" name="{{alamat_email+'_'+ndx+item.id_user}}" rows="3" cols="30" placeholder="alamat email" [(ngModel)]="item.email"></textarea>
                                        <textarea [disabled]="item.metode_pengiriman_langsung === false" id="{{item.id_user}}" name="{{alamat_langsung+'_'+ndx+item.id_user}}" rows="3" cols="30" placeholder="alamat langsung" [(ngModel)]="item.alamat_langsung"></textarea>
                                    </td>
                                    <td>
                                        <textarea [disabled]="item.metode_pengiriman_pos === false && item.metode_pengiriman_email === false && item.metode_pengiriman_langsung === false" name="catatan" rows="3" cols="30" placeholder="catatan" id="catatan" [(ngModel)]="item.keterangan"></textarea>
                                    </td>
                                    <td>
                                        <!-- <label>{{item.status}}</label> -->
                                    <button *ngIf="(item.status ==='terkirim')"  (click)="history()"  type="button" class="btn btn-primary btn-sm">Terkirim</button>
                                </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="simpanTracking()"><i class="fa fa-save">&nbsp;</i>Simpan</button>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>

                </div>
            </ng-template>

            <!-- end track -->

            <!-- tracking risalah V2 -->

            <ng-template #risalahTrackingV2 let-modal>
                <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    type="ball-spin-clockwise"
                    >
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon Tunggu...</p>
                </ngx-spinner>
                <div class="modal-header">
                    <h5 class="modal-title">Distribusi Risalah</h5>
                </div>
                <div class="modal-body" *ngFor="let item of
                    this.risalahById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nomor Pengantar Presiden</label>
                                <input type="text" class="form-control" id="nomor_risalah" disabled [(ngModel)]="item.nomor_risalah" name="nomor_risalah">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Jam Mulai Sidang</label>
                                        <input type="text" class="form-control" id="jam_mulai_sidang" disabled [(ngModel)]="item.jam_mulai_sidang" name="jam_mulai_sidang">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Zona Waktu</label>
                                        <input type="text" class="form-control" id="zona_waktu" disabled [(ngModel)]="item.zona_waktu" name="zona_waktu">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Tanggal TTD Pengantar Presiden</label>
                                <input type="text" class="form-control" id="tanggal_ttd_risalah" disabled [(ngModel)]="item.tanggal_ttd_risalah" name="tanggal_ttd_risalah">
                            </div>
                            <div class="form-group">
                                <label for="name">Penyimpanan Arsip</label>
                                <input type="text" class="form-control" id="penyimpanan_arsip" disabled [(ngModel)]="item.penyimpanan_arsip" name="penyimpanan_arsip">
                            </div>
                        </div>
                    </div>
                    <hr>

                    <h5 style="text-align: center; margin-bottom: 10px;">Penerima Risalah
                    </h5>

                    <div class="body table-responsive penerima-risalah">
                        <table class="table table-striped table-penerima">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Jabatan</th>
                                    <th>Penerima</th>
                                    <th>Pengiriman</th>
                                    <th>Tgl dan Waktu</th>
                                    <th>Alamat</th>
                                    <th>Catatan</th>
                                    <!-- <th>Status</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="this.detailTracking !== 'no data
                                found'">
                                <tr *ngFor="let item of this.grouped,let ndx= index">
                                    <td scope="row">{{ndx+1}}</td>
                                    <td>{{item[1][0].nama_jabatan}}</td>
                                    <td>{{item[1][0].nama_user}}</td>
                                    <!-- <td class="kirim">

                                        <div *ngIf="x.metode_pengiriman_pos === true">
                                            <div>
                                                <input type="checkbox" id="pos" name="pos" (change)="onChangePengiriman($event, x, 'pos')" [value]="x.metode_pengiriman_pos" [checked]="x.metode_pengiriman_pos === true && x.metode_pengiriman !== null">
                                                <label>&nbsp;Pos</label><br>
                                            </div>
                                        </div>

                                        <div *ngIf="x.metode_pengiriman_email === true">
                                            <div>
                                                <input type="checkbox" id="email" name="email" (change)="onChangePengiriman($event, x, 'email')" [value]="x.metode_pengiriman_email" [checked]="x.metode_pengiriman_email === true && x.metode_pengiriman !== null">
                                                <label>&nbsp;Email</label><br>
                                            </div>
                                        </div>

                                        <div *ngIf="x.metode_pengiriman_langsung === true">
                                            <div>
                                                <input type="checkbox" id="langsung" name="langsung" (change)="onChangePengiriman($event, x, 'langsung')" [value]="x.metode_pengiriman_langsung" [checked]="x.metode_pengiriman_langsung === true && x.metode_pengiriman !== null">
                                                <label>&nbsp;Langsung</label>
                                            </div>
                                        </div>

                                        <div *ngIf="x.metode_pengiriman === null">
                                            <div>
                                                <input type="checkbox" id="pos" name="pos" (change)="onChangePengiriman($event, x, 'pos')" [value]="x.metode_pengiriman_pos" [checked]="x.metode_pengiriman_pos === true && x.metode_pengiriman_pos !== undefined">
                                                <label>&nbsp;Pos</label><br>
                                            </div>
                                            <div>
                                                <input type="checkbox" id="email" name="email" (change)="onChangePengiriman($event, x, 'email')" [value]="x.metode_pengiriman_email" [checked]="x.metode_pengiriman_email === true && x.metode_pengiriman_email !== undefined">
                                                <label>&nbsp;Email</label><br>
                                            </div>
                                            <div>
                                                <input type="checkbox" id="langsung" name="langsung" (change)="onChangePengiriman($event, x, 'langsung')" [value]="x.metode_pengiriman_langsung" [checked]="x.metode_pengiriman_langsung === true && x.metode_pengiriman_langsung !== undefined">
                                                <label>&nbsp;Langsung</label>
                                            </div>
                                        </div>
                                        
                                    </td> -->
                                    
                                    <td class="kirim">
                                        <div>
                                            <input type="checkbox" id="pos" name="pos" (change)="onChangePengiriman($event, item, 'pos')" [value]="item.checked_pos" [checked]="item.checked_pos === true">
                                            <label>&nbsp;Pos</label><br>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="email" name="email" (change)="onChangePengiriman($event, item, 'email')" [value]="item.checked_email" [checked]="item.checked_email === true">
                                            <label>&nbsp;Email</label><br>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="langsung" name="langsung" (change)="onChangePengiriman($event, item, 'langsung')" [value]="item.checked_langsung" [checked]="item.checked_langsung === true">
                                            <label>&nbsp;Langsung</label>
                                        </div>
                                    </td>

                                    <!-- <td class="kirim">
                                        <div>
                                            <input type="checkbox" id="pos" name="pos" (change)="onChangePengiriman($event, item[1][0], 'pos')" [value]="item[1][0].metode_pengiriman_pos" [checked]="item[1][0].metode_pengiriman_pos === true && item[1][0].metode_pengiriman_pos !== undefined">
                                            <label>&nbsp;Pos</label><br>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="email" name="email" (change)="onChangePengiriman($event, item[1][0], 'email')" [value]="item[1][0].metode_pengiriman_email" [checked]="item[1][0].metode_pengiriman_email === true && item[1][0].metode_pengiriman_email !== undefined">
                                            <label>&nbsp;Email</label><br>
                                        </div>
                                        <div>
                                            <input type="checkbox" id="langsung" name="langsung" (change)="onChangePengiriman($event, item[1][0], 'langsung')" [value]="item[1][0].metode_pengiriman_langsung" [checked]="item[1][0].metode_pengiriman_langsung === true && item[1][0].metode_pengiriman_langsung !== undefined">
                                            <label>&nbsp;Langsung</label>
                                        </div>
                                    </td> -->
                                    <td class="dateTime">
                                        <input [disabled]="item.checked_pos === false" class="form-control" placeholder="POS" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="item.tanggal_pos">
                                        <owl-date-time #dt1></owl-date-time>
                                        <input [disabled]="item.checked_email === false" class="form-control" placeholder="Email" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="item.tanggal_email">
                                        <owl-date-time #dt2></owl-date-time>
                                        <input [disabled]="item.checked_langsung === false" class="form-control" placeholder="Langsung" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="item.tanggal_langsung">
                                        <owl-date-time #dt3></owl-date-time>
                                    </td>
                                    <td>
                                        <textarea [disabled]="item.checked_pos === false" id="{{item[1][0].id_user}}" name="{{alamat_pos+'_'+ndx+item[1][0].id_user}}" rows="3" cols="30" placeholder="alamat pos" [(ngModel)]="item.alamat_pos === 'null'? placeholder : item.alamat_pos"></textarea>
                                        <textarea [disabled]="item.checked_email === false" id="{{item[1][0].id_user}}" name="{{alamat_email+'_'+ndx+item[1][0].id_user}}" rows="3" cols="30" placeholder="alamat email" [(ngModel)]="item.alamat_email"></textarea>
                                        <textarea [disabled]="item.checked_langsung === false" id="{{item[1][0].id_user}}" name="{{alamat_langsung+'_'+ndx+item[1][0].id_user}}" rows="3" cols="30" placeholder="alamat langsung" [(ngModel)]="item.alamat_langsung ==='null'? placeholder : item.alamat_langsung"></textarea>
                                    </td>
                                    <td>
                                        <textarea [disabled]="item.checked_pos === false && item.checked_email === false && item.checked_langsung === false" name="catatan" rows="3" cols="30" placeholder="catatan" id="catatan" [(ngModel)]="item.keterangan"></textarea>
                                    </td>
                                    <!-- <td> -->
                                        <!-- <label>{{item.status}}</label> -->
                                    <!-- <button *ngIf="(item.status ==='terkirim')"  (click)="history()"  type="button" class="btn btn-primary btn-sm">Terkirim</button>
                                </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="simpanTracking()"><i class="fa fa-save">&nbsp;</i>Simpan</button>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>

                </div>
            </ng-template>

            <!-- end track -->
        </div>
    </div>
</div>