<div class="container-fluid">
  <!-- <div *ngIf="this.isLoading === false" class="row clearfix"> -->
  <!-- <div class="row clearfix"> -->
    <!-- <div class="col-lg-12"> -->
      <!-- <div class="card"> -->
        <div id="wrapper" class="body">
          <div style="text-align:center;">
            <!-- <div> -->
              <!-- </div> -->

              <div id="meet" style="height: 100vh">
                <button *ngIf="this.btnVisible" id="btnEnd" class="btn btn-danger" style="position: absolute; margin-top: 70px; left: 47%;">
                  <i class="fa fa-phone"></i> Akhiri Meeting
                </button>
              </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
<ngx-spinner
  name="sp6"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white; margin-top: 100px">Mohon
    Tunggu...</p>
</ngx-spinner>
