<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Kirim Materi</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Kirim Materi</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchKirimMateri" type="text"
                            class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="ml-4">
                    <div class="row ml-1">
                        <button type="button" class="btn btn-primary disabled infoBtnMateri"></button>
                        <h6 class="infoTable">Materi Belum Diunggah</h6>
                    </div>                   
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>NO UNDANGAN</th>
                                <th>TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                         <tbody>
                             <tr *ngFor="let item of this.dataUndangan | filter:searchKirimMateri | paginate: { id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index"
                             [ngClass]="{'materiKosong': item.materi === null}">
                                 <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                 <td>{{item.nomor_undangan}}</td>
                                 <td>{{item.waktu_sidang_formated}}</td>
                                 <td>{{item.sifat}}</td>
                                 <td>{{item.tema}}</td>
                                 <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                 <td>{{item.status}}</td>
                                 <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">        
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_undangan,mymodal)"
                                                [class.disabled]="item.materi === null ? true: null"
                                            >
                                                Kirim Materi
                                            </a>
                                        </div>
                                    </div>
                                </td>
                             </tr>
                         </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <ng-template #mymodal let-modal>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
                    <p style="font-size: 20px; color: white; margin-top: 100px">Mohon
                        Tunggu...</p>
                </ngx-spinner>
                <form #materiForm="ngForm">
                    <div class="modal-header">
                        <h5 class="modal-title text-center">Kirim Materi</h5>
                    </div>
                    <div class="modal-body" *ngFor="let item of this.undanganById">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Jenis Sidang</label>
                                    <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                                </div>
                                <div class="form-group">
                                    <label for="name">Pimpinan Sidang</label>
                                    <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tema Sidang</label>
                                    <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                                </div>
                                <div class="form-group">
                                    <label for="name">Sifat Sidang</label>
                                    <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="item.sifat" name="sifat">
                                </div>
                            </div>    

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Lokasi Sidang</label>
                                    <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi" name="lokasi">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Pembuatan Undangan</label>
                                    <input type="text" class="form-control" id="create_date_formated" disabled [(ngModel)]="item.create_date_formated" name="create_date_formated">
                                </div>
                                <div class="form-group">
                                    <label for="name">Nomor Undangan</label>
                                    <input type="text" class="form-control" id="nomor_undangan" disabled [(ngModel)]="item.nomor_undangan" name="nomor_undangan">
                                </div>
                                <div class="form-group">
                                    <label for="name">Tanggal Sidang</label>
                                    <input type="text" class="form-control" id="waktu_sidang_formated" disabled [(ngModel)]="item.waktu_sidang_formated" name="waktu_sidang_formated">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5 style="text-align: center;">Daftar Materi</h5>
                        <div class="body table-responsive userData">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>NO.</th>
                                        <th>NAMA FILE</th>
                                        <th>PEMBUAT MATERI</th>
                                        <th>SIFAT MATERI</th>
                                        <th>PILIH</th> 
                                        <th *ngIf="isShowAction">AKSI</th> 
                                    </tr>
                                </thead>
                                
                                <tbody *ngIf="this.materiUndanganById === 'no data found'; else data_found">
                                    <tr class="table-secondary">
                                        <td colspan="6" style="text-align: center;">Materi belum tersedia</td>
                                    </tr>
                                </tbody>
                                <ng-template #data_found>
                                    <tbody *ngFor="let materi of materiUndanganById,let ndx = index" >
                                        <tr>
                                            <td scope="row">{{ndx+1}}</td>
                                            <td>{{materi.file_name}}</td>
                                            <td>{{materi.nama_user}}</td>
                                            <td>{{materi.sifat_materi}}</td>
                                            <td>
                                                <input type="checkbox" (change)="onChangeMateri($event, materi, materi.sifat_materi, materi.id_bahan_sidang)" name="materi.file_name" [value]="materi.isChecked" />

                                            </td>
                                            <td>
                                                <button *ngIf="notDetail" type="button" class="btn btn-success" (click)="open(materi.id_undangan, materiModal, materi.id_bahan_sidang, materi,materi.file_type)">Detail
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="materi.isChecked && materi.umum">
                                            <td colspan="6">
                                                <label>Tambah Responden Umum</label>
                                                <ng-multiselect-dropdown 
                                                    name="multiSelect" 
                                                    class="umum" 
                                                    #multiSelect="ngModel" 
                                                    [placeholder]="'Silahkan Menambahkan Penerima Materi ...'" 
                                                    [data]="dataUserUmum" 
                                                    [(ngModel)]="selectedItemUmum" 
                                                    [settings]="dropdownUmumSettings" 
                                                    required>
                                                </ng-multiselect-dropdown>

                                            </td>
                                        </tr>
                                        <tr *ngIf="materi.isChecked && materi.khusus">
                                            <td colspan="6">
                                                <label>Tambah Responden Khusus </label>
                                                <ng-multiselect-dropdown 
                                                    name="multiSelectKhusus-{{materi.id_bahan_sidang}}" 
                                                    class="khusus" #multiSelect="ngModel" 
                                                    [placeholder]="'Silahkan Menambahkan Penerima Materi ...'" 
                                                    [data]="dataUserKhusus[materi.id_bahan_sidang]" 
                                                    [(ngModel)]="selectedItemKhususContainer[materi.id_bahan_sidang]" 
                                                    [settings]="dropdownKhususSettings" 
                                                    required>
                                                </ng-multiselect-dropdown>
                                            </td>
                                        </tr>
                                        <tr *ngIf="materi.isChecked && materi.rahasia">
                                            <td colspan="6" >
                                                <label>Data Responden Bersifat Rahasia </label>
                                                <ng-multiselect-dropdown *ngIf="hideDatauser"
                                                    name="multiSelectRahasia-{{materi.id_bahan_sidang}}" 
                                                    class="rahasia" 
                                                    #multiSelect="ngModel" 
                                                    [placeholder]="'Silahkan Menambahkan Penerima Materi ...'" 
                                                    [data]="dataUserRahasia[materi.id_bahan_sidang]" 
                                                    [(ngModel)]="selectedItemRahasiaContainer[materi.id_bahan_sidang]" 
                                                    [settings]="dropdownRahasiaSettings" 
                                                    required>
                                                </ng-multiselect-dropdown>
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-template>

                            </table>
                        </div>
                        <!-- <div class="form-group" style="margin-top: 50px;">
                            <label for="food">Tambah Responden</label>
                            <ng-multiselect-dropdown name="multiSelect" #multiSelect="ngModel"[placeholder]="'Silahkan Menambahkan Penerima Materi ...'" 
                            [data]="dataUser"
                            [(ngModel)]="selectedItems" [settings]="dropdownSettings" required>
                            </ng-multiselect-dropdown>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" (click)="this.kirimMateri()"><i class="fa fa-send-o">&nbsp;</i>Kirim</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>
                </form>
            </ng-template>

            <ng-template #materiModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Materi</h5>
                </div>
                <div class="modal-body">
                    <div class="body table-responsive userData">
                        <table class="table table-striped">
                            <thead>
                                <th>NAMA MATERI</th>
                                <th>SIFAT MATERI</th>
                                <th>WAKTU UNGGAH MATERI</th>
                            </thead>
                            <tbody>
                                <td>{{this.materiDetail.file_name}}</td>
                                <td>{{this.materiDetail.sifat_materi}}</td>
                                <td>{{this.materiDetail.waktu_upload}}</td>
                            </tbody>
                        </table>
                    </div>
                    <div class="wrapper">
                    <iframe  *ngIf="isNotMp4" #iframe [src]="pdfSrc" frameborder="0" style="width: 100%;height: 500px"></iframe>
                    <div class="embed-cover"></div>
                    </div>
                    <video *ngIf="isShowMp4" width="100%" height="500px" controls controlsList="nodownload" oncontextmenu="return false;">
                        <source [src]="videoShow" type="video/mp4">
                      </video>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>

</div>