li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}
.modal-header{
    justify-content: center;
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

table .aksi {
    text-align: center;
}

table .materiKosong {
    background-color:#7ecfc9 ;
}
 div .infoTable{
     margin: inherit;
     color: black;
 }
 div .infoBtnMateri{
    background-color:#7ecfc9 ;
     border-color: #7ecfc9;
     pointer-events: none;
 }
 .embed-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Just for test, remove this part */
    opacity: 0.25;
    /* background-color: red; */
    width: 98%; 
    height: 96%;
}

.wrapper {
    position: relative;
    /* overflow: hidden; */
    height: auto;
}