<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 style="color: white !important;">Daftar Percakapan</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i style="color: white !important;" class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li style="color: white !important;" class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active" style="color: white !important;">Daftar Percakapan</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cari...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0">
                        <li class="clearfix">
                            <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar1.png" alt="avatar" />
                            <div class="about">
                                <div class="name">Pramono Anung</div>
                                <div class="status"> <i class="fa fa-circle online"></i>online </div>
                            </div>
                        </li>
                        <li class="clearfix active">
                            <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar2.png" alt="avatar" />
                            <div class="about">
                                <div class="name">Johnny G. Plate</div>
                                <div class="status"> <i class="fa fa-circle online"></i> online </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar3.png" alt="avatar" />
                            <div class="about">
                                <div class="name">Airlangga Hartanto</div>
                                <div class="status"> <i class="fa fa-circle online"></i> online </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar4.png" alt="avatar" />
                            <div class="about">
                                <div class="name">Tjahjo Kumolo</div>
                                <div class="status"> <i class="fa fa-circle online"></i> online </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar5.png" alt="avatar" />
                            <div class="about">
                                <div class="name">Erick Thohir</div>
                                <div class="status"> <i class="fa fa-circle online"></i> online </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar2.png" alt="avatar" />
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">Johnny G. Plate</h6>
                                    <small>online</small>
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 hidden-sm text-right">
								<a href="javascript:void(0);" class="btn btn-outline-secondary mr-1"><i class="icon-camera"></i></a>
								<a href="javascript:void(0);" class="btn btn-outline-primary mr-1"><i class="icon-camcorder"></i></a>
								<a href="javascript:void(0);" class="btn btn-outline-info mr-1"><i class="icon-settings"></i></a>
								<a href="javascript:void(0);" class="btn btn-outline-warning mr-1"><i class="icon-question"></i></a>
							</div> -->
                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0">
                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">10:10 WIB, Hari Ini  </span>
                                    <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar2.png" alt="avatar">
                                </div>
                                <div class="message other-message float-right"> Halo Super Admin, Kondisi Aman Ya ? Ok.
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data">
                                    <span class="message-data-time">10:12 WIB, Hari Ini  </span>
                                </div>
                                <div class="message my-message">Apakah Sidang Hari ini jadi Pak ?</div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data text-right">
                                    <span class="message-data-time">10:15 WIB, Hari Ini  </span>
                                    <img  
defaultImage="https://dummyimage.com/1900x1000/000/000.png"   lazyLoad="assets/images/xs/avatar2.png" alt="avatar">
                                </div>
                                <div class="message other-message float-right"> Jadi. Siap-Siap Ya
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-paper-plane"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="input percakapan disini...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>