<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Survey</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar
                        Survey</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card" style="min-height: 150px;">
                <div class="p-3">
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="input-group" >
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Survey</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect01" 
                                (change)="changeSurvey($event, 'Nama Survey :')">
                                    <option selected disabled="disabled">--Pilih Judul Survey--</option>
                                    <!-- <option [value]="">Semua</option> -->
                                    <option *ngFor="let survey of this.dataSurvey" [value]="survey.id_master_survey">{{survey.nama_master_survey}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Jenis Sidang</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect02" 
                                (change)="changeRisalah($event)">
                                    <option selected disabled="disabled">--Pilih Jenis Sidang--</option>
                                    <option [value]="">Semua Jenis Sidang</option>
                                    <option *ngFor="let sidang of this.dataJenisSidang" [value]="sidang.id_jenis_sidang">{{sidang.nama_sidang}}</option>
                                </select>
                            </div>        
                        </div> -->

                        <!-- <div class="col-lg-4">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Status Survey</label>
                                </div>
                                <select 
                                class="custom-select" 
                                id="inputGroupSelect03" 
                                (change)="changeRisalah($event)">
                                    <option selected disabled="disabled">--Pilih Status Survey--</option>
                                    <option [value]="">Semua Status Survey</option>
                                    <option [value]="1">Distribusi</option>
                                    <option [value]="0">Tidak Distribusi</option>
                                </select>
                            </div>
                        </div> -->
                    </div>

                    <div *ngIf="this.dataSurveyById.length === 0 ; else no_data_found">
                        <!-- <p>NO DATA FOUND</p> -->
                        <div></div>
                    </div>

                    <ng-template #no_data_found>
                        <div *ngIf="this.dataSurveyById == 'no data found'; else data_found">
                            <p style="font-weight: bold; text-align: center; min-height: 100%;">NO DATA FOUND</p>
                        </div>
                    </ng-template>

                    <ng-template #data_found>
                        <p style="font-weight: bold; text-align: center; font-size: 18px; margin-top: 50px;">{{this.nama_survey}} {{this.nama_master_survey}}</p>
                        <!-- <button class="btn btn-success" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o">&nbsp;</i>Ekspor Laporan xlsx</button> -->
                        <button class="btn btn-success" (click)="exportexcel()"> <i class="fa fa-file-excel-o">&nbsp;</i>Ekspor Laporan xlsx</button>
                        <!-- <button class="btn btn-success" (click)="generateExcel()"> <i class="fa fa-file-excel-o">&nbsp;</i>Ekspor Laporan xlsx 3</button> -->
                        <hr>
                        <p style="font-weight: bold; margin-top: 20px">JAWABAN SURVEY</p>
                        <div class="body table-responsive" style="padding: 0%;">
                            <table class="table" >
                                <thead class="thead-dark">
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle; width: 2%">NO.</th>
                                        <th rowspan="2" style="vertical-align: middle; width: 15%">NAMA</th>
                                        <th colspan="100" style="text-align: center; width: 83%">PERTANYAAN SURVEY</th>
                                    </tr>
                                    <tr>
                                        <!-- <th *ngFor="let item of this.dataSurveyById; let ndx = index ;" style="display: none;">{{item.id_pertanyaan}}</th> -->
                                        <th *ngFor="let item of this.dataSurveyById; let ndx = index ;">{{ndx+1}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of this.jawabanSurvey | paginate: {id:'5', itemsPerPage: 10, currentPage: c } ; let ndx= index ;">
                                        <td style="text-align: center">{{(c-1) * 10 + ndx + 1}}</td>
                                        <td>{{item.nama_user}}</td>
                                        <td *ngFor="let data of item.jawaban_survey">{{data.jawaban === null ? '-' : data.jawaban}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls id="5" (pageChange)="c= $event"></pagination-controls>
                        </div>
                        
                        <div class="pl-3 mb-3">
                            <p>Keterangan :</p>
                            <p>- <span style="font-weight: bold;">STP</span> : Sangat Tidak Puas</p>
                            <p>- <span style="font-weight: bold;">TP</span> : Tidak Puas</p>
                            <p>- <span style="font-weight: bold;">KP</span> : Kurang Puas</p>
                            <p>- <span style="font-weight: bold;">P</span> : Puas</p>
                            <p>- <span style="font-weight: bold;">SP</span> : Sangat Puas</p>
                        </div>
                        <p style="font-weight: bold; margin-top: 50px;">PERTANYAAN SURVEY</p>
                        <!-- <pagination-controls id="10" (pageChange)="survey= $event"></pagination-controls> -->
                        <div *ngFor="let survey of this.dataSurveyById | paginate: {id:'10', itemsPerPage: 10, currentPage: p } ; let ndx= index ;" class="mt-3">
                            <div class="pl-3">
                                <p>{{(p-1) * 10 + ndx + 1}}. {{survey.pertanyaan}}</p>
                            </div>
                        </div>
                        <pagination-controls id="10" (pageChange)="p= $event"></pagination-controls>

                        <div id="excel-table" style="display: none;">
                            <table>
                                <thead>
                                    <tr>
                                        <th colspan="10">{{this.nama_survey}} {{this.nama_master_survey}}</th>
                                    </tr>
                                </thead>
                            </table>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                            <p style="font-weight: bold; margin-top: 20px">JAWABAN SURVEY</p>
                            <div class="body table-responsive" style="padding: 0%;">                                
                                <table class="table" >
                                    <thead class="thead-dark">
                                        <tr>
                                            <th rowspan="2" style="vertical-align: middle; width: 2%">NO.</th>
                                            <th rowspan="2" style="vertical-align: middle; width: 15%">NAMA</th>
                                            <th colspan="10" style="text-align: center; width: 83%">PERTANYAAN SURVEY</th>
                                        </tr>
                                        <tr>
                                            <!-- <th *ngFor="let item of this.dataSurveyById; let ndx = index ;" style="display: none;">{{item.id_pertanyaan}}</th> -->
                                            <th *ngFor="let item of this.dataSurveyById; let ndx = index ;">{{ndx+1}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of this.jawabanSurvey ; let ndx= index ;">
                                            <td style="text-align: center">{{ndx + 1}}</td>
                                            <td>{{item.nama_user}}</td>
                                            <td *ngFor="let data of item.jawaban_survey">{{data.jawaban === null ? '-' : data.jawaban}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>

                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th></th>
                                        <th>KETERANGAN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td colspan="10">
                                            - <span style="font-weight: bold;">STP</span> : Sangat Tidak Puas
                                            - <span style="font-weight: bold;">TP</span> : Tidak Puas
                                            - <span style="font-weight: bold;">KP</span> : Kurang Puas
                                            - <span style="font-weight: bold;">P</span> : Puas
                                            - <span style="font-weight: bold;">SP</span> : Sangat Puas
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                            
                            <p style="font-weight: bold">PERTANYAAN SURVEY</p>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>NO.</th>
                                        <th>PERTANYAAN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let survey of this.dataSurveyById ; let ndx= index ;">
                                        <td style="text-align: left;">{{ndx+1}}</td>
                                        <td colspan="10">{{survey.pertanyaan}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </ng-template>
                    
                    <!-- <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Cari Topik Sidang</label>
                                </div>
                                <input [(ngModel)]="searchLaporanTopikRisalah" type="text"
                                        class="form-control" placeholder="Cari Topik Sidang">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Cari Penyimpanan Arsip</label>
                                </div>
                                <input [(ngModel)]="searchLaporanArsipRisalah" type="text"
                                        class="form-control" placeholder="Cari Penyimpanan Arsip">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group mb-3 mt-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Waktu Sidang Awal</label>
                                </div>
                                <input 
                                (ngModelChange)="changeRisalah($event)" 
                                class="form-control" 
                                placeholder="Masukkan Tanggal Awal Sidang" 
                                [owlDateTimeTrigger]="dt1" 
                                [owlDateTime]="dt1"
                                [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="waktu_awal_sidang"
                                >
                                <owl-date-time #dt1 pickerType="calendar"></owl-date-time>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group mb-3 mt-3">                       
                                <div class="input-group-prepend">
                                    <label class="input-group-text">Waktu Sidang Akhir</label>
                                </div>
                                <input 
                                [disabled]="this.waktu_awal_sidang === undefined || this.waktu_awal_sidang === '' ? true : null"
                                (ngModelChange)="changeRisalah($event)" 
                                class="form-control" 
                                placeholder="Masukkan Tanggal Akhir Sidang" 
                                [owlDateTimeTrigger]="dt2" 
                                [owlDateTime]="dt2"
                                [ngModelOptions]="{standalone: true}" 
                                [(ngModel)]="waktu_akhir_sidang"
                                >
                                <owl-date-time #dt2 pickerType="calendar"></owl-date-time>
                            </div>
                        </div>
                    </div> -->
                
                </div>

                <!-- <div class="pl-3" >
                    <button [disabled]="this.hasilRisalah.length === 0 || this.hasilRisalah === 'no data found'" class="btn btn-success" (click)="exportAsXLSX()"> <i class="fa fa-file-excel-o">&nbsp;</i>Ekspor Laporan xlsx</button>
                    <button [disabled]="this.hasilRisalah.length === 0 || this.hasilRisalah === 'no data found'" class="btn btn-primary ml-2" (click)="exportAsPDF()"> <i class="fa fa-file-pdf-o">&nbsp;</i>Ekspor Laporan pdf</button>
                    <button class="btn btn-danger ml-2" (click)="cariWatermark(watermarkModal)"><i class="fa fa-search">&nbsp;</i>Cari Watermark</button>
                </div> -->
<!-- 
                <ng-template #watermarkModal let-modal>
                    <div class="modal-header">
                        <h5 class="modal-title">Detail Cari Watermark</h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text"><i class="fa fa-search pr-2" aria-hidden="true"></i></label>
                            </div>
                            <input 
                            [(ngModel)]="searchWatermark" 
                            (ngModelChange)="changeWatermark($event)"
                            type="text"
                            class="form-control" 
                            placeholder="Masukkan Kode Watermark">
                        </div>

                        <div class="mt-4" *ngIf="cariWatermarkRes === 'no data found'">
                            <p style="text-align: center;">---Kode Watermark Tersebut Tidak Ditemukan---</p>
                        </div>

                        <div class="mt-4" *ngIf="cariWatermarkRes !== 'no data found'">

                            <div *ngFor="let item of this.cariWatermarkMap">

                                <div class="form-group">
                                    <p style="text-align: center; font-weight: bold;">Kode Watermark : {{item.kode_watermark}}</p>
                                    <hr>
                                    
                                </div>
    
                                <div class="row">
        
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nama Pengguna</label>
                                            <input type="text" class="form-control" id="nama_user" disabled [(ngModel)]="item.nama_user" name="nama_user">
                                        </div>
                                        <div class="form-group">
                                            <label>Nama Sidang</label>
                                            <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                                        </div>
                                        <div class="form-group">
                                            <label>Tanggal Sidang</label>
                                            <input type="text" class="form-control" id="tanggal_sidang" disabled [(ngModel)]="item.tanggal_sidang" name="tanggal_sidang">
                                        </div>
                                        <div class="form-group">
                                            <label>Status Survey</label>
                                            <input type="text" class="form-control" id="status_risalah" disabled [ngModel]="item.status_risalah === '1' ? 'Distribusi' : 'Tidak Distribusi'" name="status_risalah">
                                        </div>
                                        <div class="form-group">
                                            <label>Unduh</label>
                                            <input type="text" class="form-control" id="counter_download" disabled [(ngModel)]="item.counter_download" name="counter_download">
                                        </div>
                                    </div>    
        
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Jabatan</label>
                                            <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                                        </div>
                                        <div class="form-group">
                                            <label>Lokasi</label>
                                            <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi" name="lokasi">
                                        </div>
                                        <div class="form-group">
                                            <label>Jam Undangan</label>
                                            <input type="text" class="form-control" id="jam_undangan" disabled [(ngModel)]="item.jam_undangan" name="jam_undangan">
                                        </div>
                                        <div class="form-group">
                                            <label>Waktu Distribusi</label>
                                            <input type="text" class="form-control" id="waktu_distribusi" disabled [(ngModel)]="item.waktu_distribusi" name="waktu_distribusi">
                                        </div>
                                        <div class="form-group">
                                            <label>Cetak</label>
                                            <input type="text" class="form-control" id="counter_print" disabled [(ngModel)]="item.counter_print" name="counter_print">
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>
                </ng-template> -->


                <!-- <div class="body table-responsive userData">
                    <table class="table" *ngIf="this.hasilRisalah.length === 0; else no_data_found">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>JENIS SIDANG</th>
                                <th>WAKTU SIDANG (UNDANGAN)</th>
                                <th>WAKTU MULAI SIDANG</th>
                                <th>LOKASI</th>
                                <th>TOPIK SIDANG</th>
                                <th>STATUS RISALAH</th>
                                <th>NO. RISALAH</th>
                                <th>PENYIMPANAN ARSIP</th>
                                <th>TANGGAL RISALAH</th>
                                <th>FILE RISALAH</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td colspan="12" style="text-align: center;">---Silahkan Lakukan Filter Terlebih Dahulu---</td>
                            </tr>
                        </tbody>
                    </table>

                    <ng-template #no_data_found>
                        <table class="table"  *ngIf="this.hasilRisalah === 'no data found'; else data_found">
                            <thead class="thead-dark">
                                <tr>
                                    <th>NO.</th>
                                    <th>JENIS SIDANG</th>
                                    <th>WAKTU SIDANG (UNDANGAN)</th>
                                    <th>WAKTU MULAI SIDANG</th>
                                    <th>LOKASI</th>
                                    <th>TOPIK SIDANG</th>
                                    <th>STATUS RISALAH</th>
                                    <th>NO. RISALAH</th>
                                    <th>PENYIMPANAN ARSIP</th>
                                    <th>TANGGAL RISALAH</th>
                                    <th>FILE RISALAH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="12" style="text-align: center;">---Data Belum Tersedia---</td>
                                </tr>
                            </tbody>
                        </table>
                    </ng-template> -->

                    <!-- <ng-template #data_found>
                        <div id="laporanRisalah"> -->
                        
                            
                        <!-- </div> -->
                    <!-- </ng-template> -->
                <!-- </div> -->
                <div *ngIf="showAlertFilter" class="alert alert-info alert-dismissible fade show" role="alert" style="text-align: center;font-weight: bold;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    Untuk menampilkan data, silahkan memilih judul survey terlebih dahulu
                  </div>
            </div>
            
        </div>
     
    </div>
</div>