<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form">Jabatan</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Jabatan</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchJabatan" type="text" class="form-control" placeholder="Cari Jabatan">
                    </div>
                </div>

                <div class="ml-4">
                    <button class="btn btn-success" (click)="tambahModal(tambahmodal)">+ Tambah</button>
                </div>
               
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <th class="id">NO.</th>
                            <th class="nama_jabatan">JABATAN</th>
                            <th class="button-jabatan">AKSI</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataJabatan | filter:searchJabatan | paginate: { id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nama_jabatan}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_jabatan, mymodal)"
                                            >
                                                Ubah
                                            </a>
                
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="alertConfirmation(item.id_jabatan)"
                                            >
                                                Hapus
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            
            <ng-template #mymodal let-modal>      
                <form #jabatanForm="ngForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Perbaharui Jabatan</h5>
                    </div>
                    <div class="modal-body" *ngFor="let item of this.jabatanById">
                        <div class="form-group">
                            <label>Jabatan</label>
                            <input [(ngModel)]="this.nama_jabatan" class="form-control" name="nama_jabatan" id="nama_jabatan">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!jabatanForm.valid" type="submit" class="btn btn-success" (click)="ubahJabatan()"><i class="fa fa-recycle" aria-hidden="true">&nbsp;</i>Perbaharui</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>    
                </form>
            </ng-template>

            <ng-template #tambahmodal let-modal>               
                <form #jabatanForm="ngForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Tambah Jabatan</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Jabatan</label>
                            <input [(ngModel)]="nama_jabatan" class="form-control" name="nama_jabatan" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="!jabatanForm.valid" type="button" class="btn btn-success" (click)="tambahJabatan()"><i class="fa fa-plus" aria-hidden="true">&nbsp;</i>Tambah</button>
                        <button type="button" class="btn btn-danger" (click)="tutupModal()"><i class="fa fa-close"></i>Tutup</button>
                    </div> 
                </form>
            </ng-template>

        </div>
    </div>

</div>
