li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-undangan {
    width: 600px;
}

.modal-header{     
    justify-content: center;     
}

table .id {
    width: 5%;
}

table .nama_jabatan {
    width: 90%;
}

table .button-jabatan {
    width: 5%;
    text-align: center;
}

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}