<div class="container-fluid" *ngIf="!isResizing">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 style="color: white !important">Dashboard</h2>
                <ul class="breadcrumb" style="color: white !important">
                    <li class="breadcrumb-item"><a style="color: white !important" [routerLink]="['/admin']"><i style="color: white !important" class="icon-home"></i></a></li>
                    <li class="breadcrumb-item active" style="color: white !important">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row clearfix whiteBox">
        <div  *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'User Tipe 1' || this.nama_role === 'Admin Sidang'" class="col-lg-6 col-md-6 col-sm-6 tambahan">
            <app-detail-tiles [title]="'TOTAL UNDANGAN '" [value]="undangan" [details]="''" [chartOptions]="totalUndangan"></app-detail-tiles>
        </div>
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'User Tipe 1' || this.nama_role === 'Admin Sidang'" class="col-lg-6 col-md-6 col-sm-6 tambahan">
            <app-detail-tiles [title]="'TOTAL PENGGUNA'" [value]="pengguna" [details]="''" [chartOptions]="totalPengguna"></app-detail-tiles>
        </div>
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'User Tipe 1' || this.nama_role === 'Admin Materi'" class="col-lg-6 col-md-6 col-sm-6 tambahan">
            <app-detail-tiles [title]="'TOTAL MATERI'" [value]="materi" [details]="''" [chartOptions]="totalMateri"></app-detail-tiles>
        </div>
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'User Tipe 1' || this.nama_role === 'Admin Risalah'" class="col-lg-6 col-md-6 col-sm-6 tambahan total-risalah">
            <app-detail-tiles [title]="'TOTAL PENGANTAR PRESIDEN'" [value]="risalah" [details]="''" [chartOptions]="totalRisalah"></app-detail-tiles>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-6 tambahan">
            <app-detail-tiles [title]="'TOTAL SIDANG'" [value]="earnings" [details]="''" [chartOptions]="earningOptions"></app-detail-tiles>
        </div> -->
    </div>

    <!-- <div class="row clearfix">
        <div class="mb-3 cardDashboard"">
            <app-chat></app-chat>
        </div>
        <div class="col-lg-6 col-md-12">
            <app-managed-data></app-managed-data>
        </div>
    </div> -->

    <div class="row clearfix">
        <div class="col-sm-12 col-xl-6">
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Sidang' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Undangan'"></app-top-products>
        </div> 
        </div>
        <div class="col-sm-12 col-xl-6">
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Sidang' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Total Pengguna'"></app-top-products>
        </div> 
        </div>
        <div class="col-sm-12 col-xl-6">     
            <div  *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Materi' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
                <app-top-products [customTitle]="'Statistik Total Materi'"></app-top-products>            
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Materi' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Sifat Materi'"></app-top-products>
        </div>
        </div>
        <div class="col-sm-12 col-xl-6">
        <!-- <div echarts [options]="pieOptions"></div> -->
        <div *ngIf="this.nama_role === 'Super Admin' || this.nama_role === 'Admin Risalah' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Total Pengantar Presiden'"></app-top-products>
        </div>
        </div>
        <div class="col-sm-12 col-xl-6">
        <div *ngIf="this.nama_role === 'Super Admin'|| this.nama_role === 'Admin Risalah' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Sifat Pengantar Presiden'"></app-top-products>
        </div>
        </div>
        <div class="col-sm-12 col-xl-12">
        <div *ngIf="this.nama_role === 'Super Admin'|| this.nama_role === 'Admin Risalah' || this.nama_role === 'User Tipe 1'" class="mb-3 cardDashboard">
            <app-top-products [customTitle]="'Statistik Cetak dan Unduh Pengantar Presiden'"></app-top-products>
        </div>
    </div>
    </div>