.tambahan {
    flex: 0 0 20% !important;
    max-width: 20% !important;
    /* font-weight: 300 !important; */
    /* max-height: 10px !important; */
}

/* .total-risalah {
    flex: 0 0 20% !important;
    max-width: 20% !important;
} */

@media (max-width: 767px) {
    .tambahan {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        /* font-weight: 300 !important; */
        /* max-height: 10px !important; */
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .tambahan {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        /* font-weight: 300 !important; */
        /* max-height: 10px !important; */
    }
}

@media (min-width: 1200px) {
    .total-risalah {
        flex: 0 0 20% !important;
        min-width: 300px !important;
        /* font-weight: 300 !important; */
        /* max-height: 10px !important; */
    }
}

div .cardDashboard {
    background: #fff;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, .16)
}