<div class="card">
    <div class="header">
        <h2>Manajemen Data</h2>
        <app-card-actions></app-card-actions>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-6">
                <h2>1,523</h2>
                <p>Dokumen</p>
            </div>
            <div class="col-md-6">
                <div echarts [options]="dataManagedBarChart" [autoResize]="true" style="height: 80px;"></div>
                <!-- <div class="sparkline m-b-20" data-type="bar" data-width="97%" data-height="60px" data-bar-Width="3" data-bar-Spacing="8" data-bar-Color="#00ced1">2,-1,5,6,4,8,7,-5,6,2,3,5,6,2,-3,4,-2</div> -->
                <!-- </div> -->
            </div>
            <div class="table-responsive">
                <table class="table table-hover m-b-0">
                    <tbody>
                        <tr>
                            <th><i class="fa fa-circle text-success"></i></th>
                            <td>Dokumen Undangan</td>
                            <td><span>862 Dokumen</span></td>
                            <td>35% <i class="fa fa-caret-up "></i></td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-circle text-info"></i></th>
                            <td>Dokumen Materi Sidang</td>
                            <td><span>451 Dokumen</span></td>
                            <td>15% <i class="fa fa-caret-up "></i></td>
                        </tr>
                        <tr>
                            <th><i class="fa fa-circle text-warning"></i></th>
                            <td>Dokumen Risalah Sidang</td>
                            <td><span>502 Dokumen</span></td>
                            <td>20% <i class="fa fa-caret-down"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>