<div class="container mt-5 mb-2">

    <h4 class="mt-5">PENDAPAT RESPONDEN TENTANG PENGELOLAAN SIDANG KABINET</h4>
    <p>(isi dengan memilih pada pilihan jawaban)</p>


    <div class="body table-responsive penerima-undangan">
        <table class="table table-striped table-penerima">
            <thead>
                <tr>
                    <th rowspan="2" style="vertical-align: middle">ASPEK/PERTANYAAN</th>
                    <th colspan="5">Pilih Jawaban</th>
                </tr>
                <tr>
                    <th>Sangat Tidak Puas</th>
                    <th>Tidak Puas</th>
                    <th>Kurang Puas</th>
                    <th>Puas</th>
                    <th>Sangat Puas</th>
                </tr>
            </thead>
            <tbody *ngFor="let data of this.groupPertanyaan, let x=index">
                <tr>
                    <td colspan="6" style="font-weight: bold;">{{data.pertanyaan}}</td>
                </tr>
                <tr class="row-pertanyaan" *ngFor="let item of data.values,let ndx= index">
                    <td class="pertanyaan">{{ndx+1}}. {{item.pertanyaan}}</td>
                    <td>
                        <input 
                        type="radio"  
                        
                        (change)="onItemChange($event)"
                        value="STP" 
                        id="{{item.id_pertanyaan}}" 
                        name="{{survey+'_'+ndx+'_'+data.pertanyaan}}">
                    </td>
                    <td>
                        <input 
                        type="radio"  
                        
                        (change)="onItemChange($event)"
                        value="TP" 
                        id="{{item.id_pertanyaan}}" 
                        name="{{survey+'_'+ndx+'_'+data.pertanyaan}}">
                    </td>
                    <td>
                        <input 
                        type="radio"  
                        
                        (change)="onItemChange($event)"
                        value="KP" 
                        id="{{item.id_pertanyaan}}" 
                        name="{{survey+'_'+ndx+'_'+data.pertanyaan}}">
                    </td>
                    <td>
                        <input 
                        type="radio"  
                        
                        (change)="onItemChange($event)"
                        value="P" 
                        id="{{item.id_pertanyaan}}" 
                        name="{{survey+'_'+ndx+'_'+data.pertanyaan}}">
                    </td>
                    <td>
                        <input 
                        type="radio"  
                        
                        (change)="onItemChange($event)"
                        value="SP" 
                        id="{{item.id_pertanyaan}}" 
                        name="{{survey+'_'+ndx+'_'+data.pertanyaan}}">
                    </td>
                </tr>
            </tbody>
        </table>

        <h4 class="mt-5">MASUKAN DAN SARAN TERHADAP PENGELOLAAN SIDANG KABINET</h4>
        <p>(apabila ada)</p>
        <textarea [(ngModel)]="saran" name="saran" id="saran" rows="10" style="width: 100%;"></textarea>

    <!-- <button [disabled]="this.survey_length.length !== this.jawaban.length" type="submit" class="btn btn-success mb-5 float-right" (click)="this.SubmitSurvey()">Kirim Jawaban</button> -->

</div>