/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/ng-pick-datetime/assets/style/picker.min.css"; */
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";

@media (max-width: 1575px) {
    table .statisWidth1 {
        width: 25%;
    }

    table .statisWidth2 {
        width: 20%;
    }
}
@media (min-width: 1576px) {
    table .statisWidth1 {
        width: 19%;
    }

    table .statisWidth2 {
        width: 14%;
    }
}
.echart-line-chart {
    height: 3em;
    width: 8em;
}
.echart-line-chart-area {
    height: 50px;
}
.fix-h-292{
    height:292px !important;
}
.echart-doughnut { width:150px;height:150px;margin:0 auto;}

.cwidget-scroll{
    height: 260px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.sidebar::-webkit-scrollbar, .cwidget-scroll::-webkit-scrollbar { /* WebKit */
    width: 0px;
}
.parsley-errors-list {
    list-style-type: none;    
    line-height: 0.9em;
    padding-left: 5px;
}
.form-control,.custom-file-input{
    height:auto;
}