<div class="container-fluid">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-5 col-md-8 col-sm-12">
				<h2 class="judul_form">Profil Pengguna</h2>
				<ul class="breadcrumb root_path">
					<li class="breadcrumb-item">
						<a class="icon_path" [routerLink]="['/admin']">
							<i class="icon-home link_home"></i>
						</a>
					</li>
					<!-- <li class="breadcrumb-item">Pages</li> -->
					<li class="breadcrumb-item active menu_pengguna">Profil Pengguna</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12">
			<div class="card">
				<div class="body" *ngFor="let item of this.dataUserById">
					<h5>Foto Profil</h5>
					<div class="media">
						<div class="media-left m-r-15">
							<img src="{{item.link_foto === ''? '../assets/images/place-holder-user.png' : item.link_foto}}" style="max-width: 140px; max-height: 140px;" class="user-photo media-object"
								alt="User">
						</div>
						<!-- <div class="media-body">
							<p>Unggah Foto Profil.
								<br> <em>Ukuran gambar tidak boleh lebih dari 5MB</em></p>
							<input [(ngModel)]="path_foto" name="path_foto" type="file" accept="image/png,image/jpeg,image/jpg" (change)="onFileSelected($event)" required> -->
							<!-- <button type="button" class="btn btn-default" id="btn-upload-photo">Unggah Foto</button> -->
							<!-- <h4><strong>{{(item.nama_user) ? item.nama_user : 'User'}}</strong></h4>
							<h6><strong>{{item.email}}</strong></h6>
							<h6><strong>{{item.nama_role}}</strong></h6> -->
						<!-- </div> -->
					</div>

					<h5>Data Akun</h5>
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="form-group">
								<label for="name">Nama Lengkap</label>
								<input type="text" class="form-control" id="nama_user" [(ngModel)]="item.nama_user"
									disabled name="nama_user">
							</div>
							<div class="form-group">
								<label for="name">Username</label>
								<input type="text" class="form-control" id="username" [(ngModel)]="item.username"
									disabled name="username">
							</div>
							<div class="form-group">
								<label for="name">Email</label>
								<input type="text" class="form-control" id="email" [(ngModel)]="item.email" disabled
									name="email">
							</div>
							<!-- <div class="form-group">
								<label for="name">IMEI</label>
								<input type="text" class="form-control" id="imei" [(ngModel)]="item.imei" disabled
									name="imei">
							</div> -->
							<div class="form-group">
								<label for="name">Kode User</label>
								<input type="text" class="form-control" id="kode_user" [(ngModel)]="item.kode_user"
									disabled name="kode_user">
							</div>
							<label>Alamat POS</label>
                        	<textarea disabled [(ngModel)]="item.alamat_pos === 'null' || item.alamat_pos === null ? '-' : item.alamat_pos" name="alamat_pos" id="alamat_pos" rows="3" style="width: 100%;" placeholder="Masukkan Alamat POS"></textarea>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="form-group">
								<label for="name">Nomor HP</label>
								<input type="number" class="form-control" id="msisdn" [(ngModel)]="item.msisdn" disabled
									name="msisdn">
							</div>
							<div class="form-group">
								<label for="name">Jabatan</label>
								<input type="text" class="form-control" id="nama_jabatan"
									[(ngModel)]="item.nama_jabatan" disabled name="nama_jabatan">
							</div>
							<div class="form-group">
								<label for="name">Grup</label>
								<input type="text" class="form-control" id="nama_group" [(ngModel)]="item.nama_group"
									disabled name="nama_group">
							</div>
							<div class="form-group">
								<label for="name">Peran</label>
								<input type="text" class="form-control" id="nama_role" [(ngModel)]="item.nama_role"
									disabled name="nama_role">
							</div>
							<label>Alamat Langsung</label>
                        	<textarea disabled [(ngModel)]="item.alamat_langsung === 'null' || item.alamat_langsung === null ? '-' : item.alamat_langsung" name="alamat_langsung" id="alamat_langsung" rows="3" style="width: 100%;" placeholder="Masukkan Alamat Langsung"></textarea>
						</div>
					</div>

					<form [formGroup]="passForm" style="margin-top: 7px;">
						<h5>Ganti Kata Kunci</h5>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="form-group">
									<label>Kata Kunci Lama</label>
									<div class="input-group">
										<input autocomplete="off" formControlName="field1"
											[type]="fieldTextType ? 'text' : 'password'" [(ngModel)]="password_lama"
											class="form-control" id="password_lama" placeholder="kata kunci lama">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fa fa-eye-slash" (click)="toggleFieldTextType()"
													[ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="form-group">
									<label>Kata Kunci Baru</label>
									<div class="input-group">
										<input autocomplete="off" formControlName="field2"
											[type]="fieldTextType2 ? 'text' : 'password'" [(ngModel)]="password_baru"
											class="form-control" id="password_baru" placeholder="kata kunci baru">
										<div class="input-group-append">
											<span class="input-group-text">
												<i class="fa fa-eye-slash" (click)="toggleFieldTextType2()"
													[ngClass]="{'fa-eye-slash': !fieldTextType2,'fa-eye': fieldTextType2}"></i>
											</span>
										</div>
									</div>
									<p style="color: red;" *ngIf="passForm.hasError('minlength', 'field2')">Kata
										kunci
										minimal 5 karakter</p>
								</div>
							</div>
						</div>
						<button [disabled]="passForm.invalid" type="submit" class="btn btn-success"
							(click)="changePassword()"><i class="fa fa-recycle"
								aria-hidden="true">&nbsp;</i>Perbaharui</button>
						<!-- <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>