li.menu_pengguna {
    color: white !important;
}

a.icon_path {
    color: white !important;
}

ul.root_path {
    color: white !important;
}

h2.judul_form {
    color: white;
}

i.link_home {
    color: white !important;
}

.putih {
    color: white !important;
}

.modal-header{
    justify-content: center;
}

.modal-body { 
    overflow-y: auto; 
    height: 71vh; 
}

/* div .media-left {
    margin-left: 325px;
    width:100%;
      display:flex;
      flex-wrap:wrap;
} */

/* div .media-body {
    margin-top: 9px;
    margin-right: 475px;
} */

#preview {
    margin-top: 5px;
    border: 1px dashed white;
    padding: 1rem;
    position: relative;
}

#preview::before {
    /* content: 'Hasil Unggah Foto'; */
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

#preview img {
    z-index: 2;
    position: relative;
}


input[type="checkbox"] {
    display: none; 
  }

.dropdown-menu a:hover {
    color: white;
    background-color: #007bff;
}

/* table .aksi {
    text-align: center;
} */