<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Daftar Undangan</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Daftar Undangan
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="searchDaftarMateri" (ngModelChange)="onSearchDaftarMateri($event)" type="text"
                            class="form-control" placeholder="Cari Undangan">
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th class="statisWidth1">NO UNDANGAN</th>
                                <th class="statisWidth2">TANGGAL SIDANG</th>
                                <th>SIFAT</th>
                                <th>TEMA</th>
                                <th>LOKASI</th>
                                <th>STATUS</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUndangan |
                                filter:searchDaftarMateri | paginate: {id:'5', itemsPerPage: 10,
                                currentPage: p } ; let ndx= index ;">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.nomor_undangan}}</td>
                                <td>{{item.waktu_sidang_formated}}</td>
                                <td>{{item.sifat}}</td>
                                <td>{{item.tema}}</td>
                                <td>{{item.lokasi === "Lainnya" ? item.lokasi_alt : item.lokasi}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-success"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="javascript:void(0);"
                                                (click)="open(item.id_undangan,mymodal)">
                                                Detail Materi
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p= $event"></pagination-controls>
                </div>
            </div>


            <ng-template #materiModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                </div>
                <div class="modal-body">
                    <form #profileForm="ngForm">
                        <div class="wrapper">
                            <!-- <div class="col-md-12"> -->
                                <iframe #iframe [src]="pdfSsssrc" frameborder="0" style="width: 100%;height: 500px"></iframe>
                                <div class="embed-cover"></div>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')">Tutup</button>
                </div>
            </ng-template>

            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail Materi</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.undanganById">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Jenis Sidang</label>
                                <input type="text" class="form-control" id="nama_sidang" disabled [(ngModel)]="item.nama_sidang" name="nama_sidang">
                            </div>
                            <div class="form-group">
                                <label for="name">Pimpinan Sidang</label>
                                <input type="text" class="form-control" id="nama_jabatan" disabled [(ngModel)]="item.nama_jabatan" name="nama_jabatan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tema Sidang</label>
                                <input type="text" class="form-control" id="tema" disabled [(ngModel)]="item.tema" name="tema">
                            </div>
                            <div class="form-group">
                                <label for="name">Sifat Sidang</label>
                                <input type="text" class="form-control" id="sifat" disabled [(ngModel)]="item.sifat" name="sifat">
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Lokasi Sidang</label>
                                <input type="text" class="form-control" id="lokasi" disabled [(ngModel)]="item.lokasi === 'Lainnya' ? item.lokasi_alt : item.lokasi"
                                    name="lokasi">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Pembuatan Undangan</label>
                                <input type="text" class="form-control" id="create_date_formated" disabled
                                    [(ngModel)]="item.create_date_formated" name="create_date_formated">
                            </div>
                            <div class="form-group">
                                <label for="name">Nomor Undangan</label>
                                <input type="text" class="form-control" id="nomor_undangan" disabled
                                    [(ngModel)]="item.nomor_undangan" name="nomor_undangan">
                            </div>
                            <div class="form-group">
                                <label for="name">Tanggal Sidang</label>
                                <input type="text" class="form-control" id="waktu_sidang_formated" disabled
                                    [(ngModel)]="item.waktu_sidang_formated" name="waktu_sidang_formated">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5 style="text-align: center; margin-bottom: 10px;">Materi
                    </h5>
                    <table class="table table-striped table-materi">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>NAMA BERKAS</th>
                                <th *ngIf="isShowAction">AKSI</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="this.daftarMateri === 'no data found' ">
                            <tr class="table-secondary">
                                <td colspan="4" style="text-align: center;">Materi belum tersedia</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="this.daftarMateri !== 'no data found' ">
                            <tr *ngFor="let item of this.daftarMateri,let ndx= index">
                                <td scope="row">{{ndx+1}}</td>
                                <td>{{item.file_name}}</td>
                                <td>
                                    <button type="button" class="btn btn-success" *ngIf="isShowMateri" (click)="openFile(item.id_undangan,materiDetail,item.materi)">lihat</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
            <ng-template #materiDetail let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Detail</h5>
                </div>
                <div class="modal-body">
                    <form #profileForm="ngForm">
                        <div class="wrapper">
                            <!-- <div class="col-md-12"> -->
                                <!-- <div class="form-group"> -->
                                    <iframe *ngIf="isNotMp4" #iframe [src]="pdfSrc" frameborder="0" style="width:100%;height: 500px"></iframe>
                                    <div class="embed-cover"></div>
                                    <video *ngIf="isShowMp4" width="100%" height="500px" controls controlsList="nodownload" oncontextmenu="return false;">
                                        <source [src]="videoShow" type="video/mp4">
                                      </video>
                                <!-- </div> -->
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- <a [href]="pdfSrc" download (click)="counterDownload()" class="btn btn-success" style="color: white;"><i class="fa fa-download"></i>Unduh</a>
                    <a [href]="pdfPrint" target="__blank" print (click)="counterPrint()" class="btn btn-primary" style="color:white;"><i class="fa fa-print"></i>Cetak</a> -->
                    <button type="button" class="btn btn-danger" (click)="modal.close('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>
        </div>
    </div>

</div>