<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-12">
                <h2 class="judul_form"> Ubah Data Pengguna</h2>
                <ul class="breadcrumb root_path">
                    <li class="breadcrumb-item">
                        <a class="icon_path" [routerLink]="['/admin']">
                            <i class="icon-home link_home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">List</li>
                    <li class="breadcrumb-item active menu_pengguna">Ubah Data Pengguna</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="this.isLoading === false" class="row clearfix">
        <div class="col-12">
            <div class="card">
                <div class="body search">
                    <div class="input-group m-b-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-magnifier"></i></span>
                        </div>
                        <input [(ngModel)]="ubahDataUser" (ngModelChange)="onSearchUbahData($event)" type="text" class="form-control" placeholder="Cari Pengguna">
                    </div>
                </div>
                <div class="body table-responsive userData">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>NO.</th>
                                <th>USERNAME</th>
                                <th>NAMA LENGKAP</th>
                                <th>JABATAN</th>
                                <th>PERAN</th>
                                <th>GRUP</th>
                                <th>KODE USER</th>
                                <th>TANGGAL DAFTAR</th>
                                <th class="aksi">AKSI</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of this.dataUser | filter:ubahDataUser | paginate: { id:'5', itemsPerPage: 10, currentPage: p } ; let ndx = index">
                                <td scope="row">{{(p-1) * 10 + ndx + 1}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.nama_user}}</td>
                                <td>{{item.nama_jabatan}}</td>
                                <td>{{item.nama_role}}</td>
                                <td>{{item.nama_group}}</td>
                                <td>{{item.kode_user}}</td>
                                <td>{{item.format_tanggal}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            type="button"
                                            class="btn btn-success"
                                            id="dropdownMenuButton" 
                                            data-toggle="dropdown" 
                                            aria-haspopup="true" 
                                            aria-expanded="false"
                                        >
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="open(item.id_user, mymodal,item)"
                                            >
                                                Ubah
                                            </a>
                
                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="alertConfirmation(item.id_user)"
                                            >
                                                Hapus
                                            </a>

                                            <a 
                                                class="dropdown-item" 
                                                href="javascript:void(0);" 
                                                (click)="modalPassword(item.id_user, changepassword)"
                                            >
                                                Ganti Kata Kunci
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls id="5" (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            <ng-template #mymodal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title text-center">Ubah Data Pengguna</h5>
                </div>
                <div class="modal-body" *ngFor="let item of this.dataUserById">
                    <form *ngIf="this.isLoadingGambar == false" #profileForm="ngForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Username</label>
                                    <input type="text" class="form-control" id="username" [(ngModel)]="item.username" disabled name="username">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nama Lengkap</label>
                                    <input type="text" class="form-control" id="nama_user" [(ngModel)]="item.nama_user" name="nama_user">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Email</label>
                                    <input type="text" class="form-control" id="email" [(ngModel)]="item.email" disabled name="email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nomor HP</label>
                                    <input type="number" class="form-control" id="msisdn" [(ngModel)]="item.msisdn" name="msisdn">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">IMEI</label>
                                    <input type="text" class="form-control" id="imei" [(ngModel)]="item.imei === 'null' || item.imei === null ? '-' : item.imei" name="imei">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Jabatan</label>
                                    <!-- <input type="text" class="form-control" id="nama_jabatan" [(ngModel)]="item.nama_jabatan" name="nama_jabatan"> -->
                                    <ng-select2 [data]="dataJabatan" width="100%" id="id_jabatan" [(ngModel)]="item.id_jabatan" name="id_jabatan"></ng-select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Peran</label>
                                    <!-- <input type="text" class="form-control" id="nama_jabatan" [(ngModel)]="item.nama_jabatan" name="nama_jabatan"> -->
                                    <ng-select2 [data]="dataRole" width="100%" id="id_role" [(ngModel)]="item.id_role" name="id_role"></ng-select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Grup</label>
                                    <!-- <input type="text" class="form-control" id="nama_jabatan" [(ngModel)]="item.nama_jabatan" name="nama_jabatan"> -->
                                    <ng-select2 [data]="dataGroup" width="100%" id="id_group" [(ngModel)]="item.id_group" name="id_group"></ng-select2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Alamat POS</label>
                                    <textarea [(ngModel)]="item.alamat_pos2" name="alamat_pos" id="alamat_pos" rows="3" style="width: 100%;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Alamat langsung</label>
                                    <textarea [(ngModel)]="item.alamat_langsung2" name="alamat_langsung" id="alamat_langsung" rows="3" style="width: 100%;"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Unggah Gambar</label>
                                    <input [(ngModel)]="path_foto" class="form-control" name="path_foto" type="file" accept="image/png,image/jpeg,image/jpg" (change)="onFileSelected($event)" required>
                                    <div id="preview" class="preview">
                                        <img src="{{item.link_foto || ''}}" style="max-height:100px;" class="img-fluid rounded shadow-sm mx-auto d-block">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Kode User</label>
                                    <input type="text" class="form-control" id="kode_user" [(ngModel)]="item.kode_user" disabled name="kode_user">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" (click)="this.ubahDataPengguna(item)"><i class="fa fa-edit">&nbsp;</i>Ubah</button>
                    <!-- <button *ngIf="isLoadingForm === true" disabled type="button" class="btn btn-primary"><i
                            class="fa fa-spinner"></i></button> -->
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                </div>
            </ng-template>

            <ng-template #changepassword let-modal>
                <!-- <form #passForm="ngForm"> -->
                <form [formGroup]="passForm">
                    <div class="modal-header">
                        <h5 class="modal-title">Ganti Kata Kunci</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Kata Kunci Lama</label>
                            <div class="input-group">
                                <input 
                                autocomplete="off" 
                                formControlName="field1"
                                [type]="fieldTextType ? 'text' : 'password'" 
                                [(ngModel)]="password_lama" 
                                class="form-control" 
                                id="password_lama" 
                                placeholder="kata kunci lama" 
                                >
                                <div class="input-group-append">
                                    <span class="input-group-text">        
                                          <i class="fa fa-eye-slash" (click)="toggleFieldTextType()" [ngClass]="{'fa-eye-slash': !fieldTextType,'fa-eye': fieldTextType}"></i>       
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Kata Kunci Baru</label>
                            <div class="input-group">
                                <input 
                                autocomplete="off"  
                                formControlName="field2"
                                [type]="fieldTextType2 ? 'text' : 'password'" 
                                [(ngModel)]="password_baru" 
                                class="form-control" 
                                id="password_baru" 
                                placeholder="kata kunci baru" 
                                >
                                <div class="input-group-append">
                                    <span class="input-group-text">        
                                          <i class="fa fa-eye-slash" (click)="toggleFieldTextType2()" [ngClass]="{'fa-eye-slash': !fieldTextType2,'fa-eye': fieldTextType2}"></i>       
                                    </span>
                                </div>
                            </div>
                            <p style="color: red;" *ngIf="passForm.hasError('minlength', 'field2')">Kata kunci minimal 5 karakter</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="passForm.invalid" type="submit" class="btn btn-success" (click)="changePassword()"><i class="fa fa-recycle" aria-hidden="true">&nbsp;</i>Perbaharui</button>
                        <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')"><i class="fa fa-close"></i>Tutup</button>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>

</div>